n8n.txt
{
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "TXT_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        800,
        -16
      ],
      "id": "3f90528c-62f8-4c5c-b4ed-7c2cc4539e49",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil teks dari input node sebelumnya\nconst rawText = $input.first().json.text || $input.first().json.data; \n\n// Fungsi ekstraksi yang lebih fleksibel\nconst extractValue = (text, label) => {\n  // Regex: Cari label (case-insensitive), abaikan spasi/titik dua, \n  // ambil teks di baris bawahnya sampai ketemu baris kosong atau label baru\n  const regex = new RegExp(`${label}[:?\\\\s]*\\\\r?\\\\n([\\\\s\\\\S]*?)(?=\\\\r?\\\\n\\\\r?\\\\n|\\\\r?\\\\n[a-zA-Z]|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n};\n\n// Eksekusi ekstraksi 01\nconst judul_01 = extractValue(rawText, 'JUDUL');\nconst doctype_01 = extractValue(rawText, '01. DOCTYPE');\nconst size_01 = extractValue(rawText, '01. SIZE');\nconst category_01 = extractValue(rawText, '01. CATEGORY');\nconst noteRaw = extractValue(rawText, '01. NOTE');\nconst referensiRaw = extractValue(rawText, '01. REFERENSI');\nconst prompt_01 = extractValue(rawText, '01. PROMPT AI');\n\n// Rapikan note menjadi Array\nconst note_01 = noteRaw\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Rapikan referensi menjadi Array\nconst referensi_01 = referensiRaw\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Eksekusi ekstraksi 02\nconst doctype_02 = extractValue(rawText, '02. DOCTYPE');\nconst size_02 = extractValue(rawText, '02. SIZE');\nconst category_02 = extractValue(rawText, '02. CATEGORY');\nconst noteRaw_02 = extractValue(rawText, '02. NOTE');\nconst referensiRaw_02 = extractValue(rawText, '02. REFERENSI');\nconst prompt_02 = extractValue(rawText, '02. PROMPT AI');\n\n// Rapikan note menjadi Array\nconst note_02 = noteRaw_02\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Rapikan referensi menjadi Array\nconst referensi_02 = referensiRaw_02\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Eksekusi ekstraksi 03\nconst doctype_03 = extractValue(rawText, '03. DOCTYPE');\nconst size_03 = extractValue(rawText, '03. SIZE');\nconst category_03 = extractValue(rawText, '03. CATEGORY');\nconst noteRaw_03 = extractValue(rawText, '03. NOTE');\nconst referensiRaw_03 = extractValue(rawText, '03. REFERENSI');\nconst prompt_03 = extractValue(rawText, '03. PROMPT AI');\n\n// Rapikan note menjadi Array\nconst note_03 = noteRaw_03\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Rapikan referensi menjadi Array\nconst referensi_03 = referensiRaw_03\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Eksekusi ekstraksi 04\nconst doctype_04 = extractValue(rawText, '04. DOCTYPE');\nconst size_04 = extractValue(rawText, '04. SIZE');\nconst category_04 = extractValue(rawText, '04. CATEGORY');\nconst noteRaw_04 = extractValue(rawText, '04. NOTE');\nconst referensiRaw_04 = extractValue(rawText, '04. REFERENSI');\nconst prompt_04 = extractValue(rawText, '04. PROMPT AI');\n\n// Rapikan note menjadi Array\nconst note_04 = noteRaw_04\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Rapikan referensi menjadi Array\nconst referensi_04 = referensiRaw_04\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Eksekusi ekstraksi 05\nconst doctype_05 = extractValue(rawText, '05. DOCTYPE');\nconst size_05 = extractValue(rawText, '05. SIZE');\nconst category_05 = extractValue(rawText, '05. CATEGORY');\nconst noteRaw_05 = extractValue(rawText, '05. NOTE');\nconst referensiRaw_05 = extractValue(rawText, '05. REFERENSI');\nconst prompt_05 = extractValue(rawText, '05. PROMPT AI');\n\n// Rapikan note menjadi Array\nconst note_05 = noteRaw_05\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Rapikan referensi menjadi Array\nconst referensi_05 = referensiRaw_05\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Eksekusi ekstraksi 06\nconst doctype_06 = extractValue(rawText, '06. DOCTYPE');\nconst size_06 = extractValue(rawText, '06. SIZE');\nconst category_06 = extractValue(rawText, '06. CATEGORY');\nconst noteRaw_06 = extractValue(rawText, '06. NOTE');\nconst referensiRaw_06 = extractValue(rawText, '06. REFERENSI');\nconst prompt_06 = extractValue(rawText, '06. PROMPT AI');\n\n// Rapikan note menjadi Array\nconst note_06 = noteRaw_06\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\n// Rapikan referensi menjadi Array\nconst referensi_06 = referensiRaw_06\n  .split(/\\r?\\n/) // Split berdasarkan baris baru (Windows/Unix)\n  .map(item => item.replace(/^[-\\s*]+/, '').trim()) // Hapus \"-\" atau \"*\" di awal\n  .filter(item => item !== '');\n\nreturn [\n  {\n    json: {\n      judul_01,\n      \n      //01\n      doctype_01,\n      size_01,\n      category_01,\n      note_01,\n      referensi_01,\n      prompt_01,\n      \n      //02\n      doctype_02,\n      size_02,\n      category_02,\n      note_02,\n      referensi_02,\n      prompt_02,\n      \n      //03\n      doctype_03,\n      size_03,\n      category_03,\n      note_03,\n      referensi_03,\n      prompt_03,\n      \n      //04\n      doctype_04,\n      size_04,\n      category_04,\n      note_04,\n      referensi_04,\n      prompt_04,\n      \n      //05\n      doctype_05,\n      size_05,\n      category_05,\n      note_05,\n      referensi_05,\n      prompt_05,\n      \n      //06\n      doctype_06,\n      size_06,\n      category_06,\n      note_06,\n      referensi_06,\n      prompt_06,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -16
      ],
      "id": "76679659-692b-4eba-bb56-15447c870caf",
      "name": "Fragment"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input\nconst item = $input.first().json;\nconst categoryBrand = item['category_01'];\n\n// Daftar brand Beauty\nconst beautyBrandList = [\n  \"Clean Beauty\",\n  \"Radiant Beauty\",\n  \"Pure Essentials\",\n  \"Fresh Makeup\",\n  \"Luxe Makeup\",\n  \"Glam Cosmetics\",\n  \"Glam Makeup\",\n  \"Dewy Makeup\",\n  \"Velvet Cosmetics\",\n  \"Pop Cosmetics\",\n  \"Radiant Skincare\",\n  \"Simple Skincare\",\n  \"Gentle Skin Essentials\",\n  \"Posh Salon\",\n  \"Posh Parlor\",\n  \"Luxe Salon\",\n  \"Luxe Parlor\",\n  \"Modern Salon & Spa\",\n  \"Urban Salon & Spa\",\n  \"Urban Barbers\",\n  \"Luxe Hair Studio\",\n  \"Pure & Simple Beauty\",\n  \"Glow Studio\",\n  \"Everyday Skincare\",\n  \"Clean Beauty Store\",\n  \"Fresh Face Makeup\",\n  \"Bare Beauty Shop\",\n  \"Pure Makeup\",\n  \"Easy Beauty\",\n  \"Everyday Beauty Store\",\n  \"Skin & Makeup\",\n  \"The Beauty Shop\",\n  \"Beauty Essentials\"\n];\n\n// Daftar brand Financial & Banking\nconst financeBrandList = [\n    \"Wealth\",\n    \"Wealth Bank\",\n    \"Wealth Banking\",\n    \"Elliot&Mater Bank\",\n    \"Elliot&Mater Financials\",\n    \"Elliot&Mater Insurance\",\n    \"Secure Financial Services\",\n    \"Intelligent Bank\",\n    \"Legacy Banking\",\n    \"Legacy Financials\",\n    \"Legacy Insurance\",\n    \"Savvy Bank\",\n    \"Savvy Finance\",\n    \"Savvy Financial Services\",\n    \"Noble Insurance\",\n    \"Noble Bank\",\n    \"Noble Banking\",\n    \"Prosper Bank\",\n    \"Prosper Finance\",\n    \"Prosper Insurance\",\n    \"Fortune Banking\",\n    \"Fortune Insurance\",\n    \"Fortune Financial Services\",\n    \"Worth Bank\",\n    \"Worth Insurance\",\n    \"Worth Financials\"\n];\n\n// Daftar brand Fashion\nconst fashionBrandList = [\n  \"Silhouette\", \n  \"Style\", \n  \"Flair\", \n  \"Refined\", \n  \"Wearable\", \n  \"Detail\", \n  \"Palette\", \n  \"Iconic\", \n  \"Signature Style\", \n  \"Tailor Made\", \n  \"Fresh Threads\", \n  \"Timeless Silhouettes\", \n  \"Classic Threads\", \n  \"Modern Form\", \n  \"True Fit\", \n  \"Fresh Fits\", \n  \"Daily Wear\", \n  \"Styled Well\", \n  \"Wardrobe Wear\", \n  \"Modern Thread\", \n  \"Citywear Collective\", \n  \"Everyday Edit\", \n  \"Plainform\", \n  \"Street & Stitch\", \n  \"Current Apparel\"\n];\n\n// Daftar brand Food\nconst foodBrandList = [\n  \"Harvest\",\n  \"Harvest Grocer\",\n  \"Harvest Kitchen\",\n  \"Harvest Restaurant\",\n  \"Pantry\",\n  \"Crave\",\n  \"Crave Restaurant\",\n  \"Crave Diner\",\n  \"Tasty Snacks\",\n  \"Feast\",\n  \"Rooted\",\n  \"Savor\",\n  \"Gathered\",\n  \"Artsy Cafe\",\n  \"Golden Bite\",\n  \"Pure Spoon\",\n  \"Every Crumb\",\n  \"Daily Harvest\",\n  \"Chopify Burger\",\n  \"Healthy Meals\",\n  \"Healthy Bites\",\n  \"Fresh Bakery\",\n  \"Fresh Pantry\",\n  \"Market Kitchen\",\n  \"Good Food Co\",\n  \"Everyday Provisions\",\n  \"Farm & Table\",\n  \"The Local Kitchen\",\n  \"Corner Café\",\n  \"Table Eight\",\n  \"Open House Dining\",\n  \"Common Room Café\",\n  \"Market Street Eatery\"\n];\n\n// Daftar brand Store\nconst storeBrandList = [\n  \"Metro Markets\",\n  \"Trendy Market\",\n  \"Trendy Merch\",\n  \"Variety Market\",\n  \"Variety Supermarket\",\n  \"Variety Store\",\n  \"Variety Merchandise\",\n  \"Assorted Market\",\n  \"Assorted Supermarket\",\n  \"Assorted Store\",\n  \"Assorted Merchandise\",\n  \"Gateway General Store\",\n  \"Cornerstone Retail\",\n  \"Main Market\",\n  \"Main Supermarket\",\n  \"Main Store\",\n  \"Main Merchandise\",\n  \"Fashion Foundry\",\n  \"Premier General Store\",\n  \"Valley Commerce\",\n  \"Fusion Markets\",\n  \"Central Supply Co.\",\n  \"Quality Marketplace\",\n  \"Wares\",\n  \"Highstreet Goods\",\n  \"Everyday Market\",\n  \"Town & Co\",\n  \"Local Essentials\",\n  \"Corner Retail\",\n  \"Union Stores\"\n];\n\n// Daftar brand Healthcare\nconst healthcareBrandList = [\n    \"Thrive\",\n    \"Vital Healthcare\",\n    \"Vital Wellness Center\",\n    \"Vital Clinic\",\n    \"Vital Hospital\",\n    \"Gentle Healthcare\",\n    \"Gentle Wellness Center\",\n    \"Gentle Clinic\",\n    \"Gentle Hospital\",\n    \"General Healthcare\",\n    \"General Wellness Center\",\n    \"General Clinic\",\n    \"General Hospital\",\n    \"Primary Healthcare\",\n    \"Primary Wellness Center\",\n    \"Primary Clinic\",\n    \"Primary Hospital\",\n    \"Bright Clinic\",\n    \"Holistic Care\",\n    \"Open Care Network\",\n    \"Core Health Systems\",\n    \"Healing Haven Hospital\",\n    \"Wellness Medical Group\",\n    \"Vital Point Health Center\",\n    \"Health Nest Family Practice\"\n];\n\n// Daftar brand Entertainment\nconst entertainmentBrandList = [\n  \"Imprint Edition\",\n  \"Zine Publishing\",\n  \"Story Media\",\n  \"Folio Publishing\",\n  \"Premium Media Group\",\n  \"Concept Media\",\n  \"Abstract Multimedia\",\n  \"Public Press\",\n  \"The Reporter\",\n  \"Open Pages\",\n  \"Dispatch\",\n  \"Daily Bulletin\",\n  \"Weekly Observer\",\n  \"Trend Media\",\n  \"Content Publishing Group\",\n  \"Hype Media\",\n  \"Stellar Studio\",\n  \"Dynamic Network\",\n  \"Citywide Media\",\n  \"Northside Publishing\",\n  \"Modern Press\",\n  \"Open Channel\",\n  \"Common Voice Media\",\n  \"Signal House\"\n];\n\n// Daftar brand Real estate\nconst realEstateBrandList = [\n    \"Realty\",\n    \"Dwell\",\n    \"Dwell Realty\",\n    \"Dwell Properties\",\n    \"Land\",\n    \"Land Properties\",\n    \"Land Property Management\",\n    \"Brick\",\n    \"Brick Realty\",\n    \"Nest\",\n    \"Nest Realty\",\n    \"Roof\",\n    \"Roof Real Estate\",\n    \"Move\",\n    \"Move Real Estate\",\n    \"Urban\",\n    \"Urban Properties\",\n    \"Home\",\n    \"Home Realty\",\n    \"Property\",\n    \"Space\",\n    \"Space Properties\",\n    \"Place\",\n    \"Estate\",\n    \"Estate Property Management\",\n    \"Block\",\n    \"Block Realty\",\n    \"Key\",\n    \"Key Realty\"\n];\n\n// Daftar brand Technology\nconst technologyBrandList = [\n    \"Byte\", \n    \"Circuit\", \n    \"Circuit Systems\", \n    \"Circuit Networks\", \n    \"Gravity\", \n    \"Gravity Soft\", \n    \"Gravity Tech\", \n    \"Cloudlet\", \n    \"Cloudlet Tech\", \n    \"Cloudlet Systems\", \n    \"Elevate\", \n    \"Vertex\", \n    \"Vertex Systems\", \n    \"Innovation\", \n    \"Innovation Systems\", \n    \"Innovation Hub\", \n    \"Streamline\", \n    \"Streamline Soft\", \n    \"Streamline Systems\", \n    \"Mode AI\", \n    \"Meshwork\", \n    \"Forge\"\n];\n\n// Daftar brand Marketing & advertising\nconst marketingBrandList = [\n    \"Impact Inc\",\n    \"Creative Collective\",\n    \"Creative Lab\",\n    \"Creative Studio + Lab\",\n    \"Dynamic Agency\",\n    \"Visionary Studio\",\n    \"Visionary PR\",\n    \"Bold Marketing\",\n    \"Bold Design Studio\",\n    \"Collab Studio\",\n    \"Vivid Design\",\n    \"Vivid Marketing\",\n    \"Insight Lab\",\n    \"Brightside Studio\",\n    \"Fieldwork Creative\",\n    \"Union & Co\",\n    \"Openform Agency\",\n    \"Plainview Marketing\",\n    \"Studio North\"\n];\n\n// Daftar brand Accommodation & Travel\nconst travelBrandList = [\n    \"First Landing\",\n    \"First Landing Travel and Tours\",\n    \"Skyward Journeys\",\n    \"Skyward Journeys Airlines\",\n    \"Open Horizon\",\n    \"Open Horizon Tours\",\n    \"Escape\",\n    \"Escape Resort & Spa\",\n    \"Drift\",\n    \"Drift Bed & Breakfast\",\n    \"Voyage\",\n    \"Voyage Airlines\",\n    \"Harbor\",\n    \"Harbor Tours\",\n    \"Global Air\",\n    \"Worldwide Airlines\",\n    \"Vacation Travel Agency\",\n    \"Vacation Inn\",\n    \"Vacation Lodge\",\n    \"Cozy Stay Inn\",\n    \"Cozy Stay Lodge\",\n    \"Cozy Bed & Breakfast\",\n    \"Dream Travel and Tours\",\n    \"Dream Travel Agency\",\n    \"Ultimate Tours\",\n    \"Ultimate Hotel\",\n    \"Ultimate Resort & Spa\",\n    \"Luxe Resort & Spa\",\n    \"Luxe Hotel\",\n    \"Premium Travel\",\n    \"Premium Hotel\"\n];\n\n// Daftar brand Education\nconst educationBrandList = [\n    \"Little Explorers Academy\",\n    \"Little Explorers Learning Center\",\n    \"Little Explorers Play School\",\n    \"North Academy\",\n    \"North Primary School\",\n    \"North School\",\n    \"North Elementary School\",\n    \"North High School\",\n    \"North Secondary School\",\n    \"North University\",\n    \"North College\",\n    \"South Academy\",\n    \"South Primary School\",\n    \"South School\",\n    \"South Elementary School\",\n    \"South High School\",\n    \"South Secondary School\",\n    \"South University\",\n    \"South College\",\n    \"West Academy\",\n    \"West Primary School\",\n    \"West School\",\n    \"West Elementary School\",\n    \"West High School\",\n    \"West Secondary School\",\n    \"West University\",\n    \"West College\",\n    \"East Academy\",\n    \"East Primary School\",\n    \"East School\",\n    \"East Elementary School\",\n    \"East High School\",\n    \"East Secondary School\",\n    \"East University\",\n    \"East College\",\n    \"Northwest Academy\",\n    \"Northwest Primary School\",\n    \"Northwest School\",\n    \"Northwest Elementary School\",\n    \"Northwest High School\",\n    \"Northwest Secondary School\",\n    \"Northwest University\",\n    \"Northwest College\",\n    \"Southwest Academy\",\n    \"Southwest Primary School\",\n    \"Southwest School\",\n    \"Southwest Elementary School\",\n    \"Southwest High School\",\n    \"Southwest Secondary School\",\n    \"Southwest University\",\n    \"Southwest College\",\n    \"Northeast Academy\",\n    \"Northeast Primary School\",\n    \"Northeast School\",\n    \"Northeast Elementary School\",\n    \"Northeast High School\",\n    \"Northeast Secondary School\",\n    \"Northeast University\",\n    \"Northeast College\",\n    \"Southeast Academy\",\n    \"Southeast Primary School\",\n    \"Southeast School\",\n    \"Southeast Elementary School\",\n    \"Southeast High School\",\n    \"Southeast Secondary School\",\n    \"Southeast University\",\n    \"Southeast College\",\n    \"Western Academy\",\n    \"Western Primary School\",\n    \"Western School\",\n    \"Western Elementary School\",\n    \"Western High School\",\n    \"Western Secondary School\",\n    \"Western University\",\n    \"Western College\",\n    \"Eastern Academy\",\n    \"Eastern Primary School\",\n    \"Eastern School\",\n    \"Eastern Elementary School\",\n    \"Eastern High School\",\n    \"Eastern Secondary School\",\n    \"Eastern University\",\n    \"Eastern College\",\n    \"Northern Academy\",\n    \"Northern Primary School\",\n    \"Northern School\",\n    \"Northern Elementary School\",\n    \"Northern High School\",\n    \"Northern Secondary School\",\n    \"Northern University\",\n    \"Northern College\",\n    \"Southern Academy\",\n    \"Southern Primary School\",\n    \"Southern School\",\n    \"Southern Elementary School\",\n    \"Southern High School\",\n    \"Southern Secondary School\",\n    \"Southern University\",\n    \"Southern College\",\n    \"Oakfield Primary School\",\n    \"Meadowbrook Primary School\",\n    \"Willow Lane Primary School\",\n    \"Rosewood Primary School\",\n    \"Greenway Primary School\",\n    \"Brookside Primary School\",\n    \"Hillcrest Primary School\",\n    \"Sunnyfields Primary School\",\n    \"Maple Grove Primary School\",\n    \"Chestnut Hill Primary School\",\n    \"Foxglove Primary School\",\n    \"Birchwood Primary School\",\n    \"Appleton Primary School\",\n    \"Cloverfields Primary School\",\n    \"Fernbank Primary School\",\n    \"Ivybridge Primary School\",\n    \"Pinemoor Primary School\",\n    \"Hazelbrook Primary School\",\n    \"Bluebell Primary School\",\n    \"Elmstead Primary School\",\n    \"Westbrook Secondary School\",\n    \"Ridgeway High School\",\n    \"Northfield Community School\",\n    \"Eastgate Secondary School\",\n    \"Brookvale High School\",\n    \"Parklands School\",\n    \"Stonebridge School\",\n    \"Greenfields School\",\n    \"Southbrook Secondary School\",\n    \"Moorland High School\",\n    \"Brookfield High School\",\n    \"Westvale Secondary School\",\n    \"Ashdown School\",\n    \"Kingsford High School\",\n    \"Redfield Secondary School\",\n    \"Fairlands School\",\n    \"Northmoor High School\",\n    \"Valley Ridge School\",\n    \"Stonefield High School\",\n    \"Parkview Secondary School\",\n    \"Oakridge Academy\",\n    \"Riverfield Academy\",\n    \"Hillview Academy\",\n    \"Brookstone Academy\",\n    \"Meadowcroft Academy\",\n    \"Northgate Academy\",\n    \"Silverdale Academy\",\n    \"Ashford School\",\n    \"Linden House School\",\n    \"Hawthorne School\",\n    \"Cedar Grove School\",\n    \"Kingswell School\",\n    \"Fairview School\",\n    \"University of Westbridge\",\n    \"University of Northvale\",\n    \"University of Eastborough\",\n    \"University of Southford\",\n    \"University of Greenhill\",\n    \"University of Brookminster\",\n    \"University of Stonebridge\",\n    \"University of Fairchester\",\n    \"University of Westfield\",\n    \"Northgate University\",\n    \"City of Meadowfield University\",\n    \"University of Parkside\",\n    \"University of Hillview\",\n    \"Central Valley University\",\n    \"University of Lakeside\",\n    \"Greenfield University\",\n    \"Oakridge University\",\n    \"Brookstone University\",\n    \"Silvermere University\",\n    \"University of Ashford Vale\",\n    \"Clearview University\",\n    \"Northbridge University\",\n    \"Riverford University\",\n    \"Westbrook College\",\n    \"Northvale College\",\n    \"Riverside College\",\n    \"University of Parklands\",\n    \"Meadowfield Metropolitan University\",\n    \"Greenhill College\",\n    \"Stonebridge College\",\n    \"Brooklands College\",\n    \"Greenfield College\",\n    \"Clearview College\",\n    \"Lakeside College\",\n    \"Woodlands College\",\n    \"Fieldstone College\",\n    \"Springvale College\",\n    \"Glenmore College\",\n    \"Westwood College\"\n];\n\n\nlet brandname;\n\n// Logika pengecekan Beauty Brand\nif (categoryBrand === \"Beauty\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * beautyBrandList.length);\n  brandname = beautyBrandList[randomIndex];\n}\n\n// Logika pengecekan Banking & Finance\nif (categoryBrand === \"Banking & Finance\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * financeBrandList.length);\n  brandname = financeBrandList[randomIndex];\n} \n\n// Logika pengecekan Fashion\nif (categoryBrand === \"Fashion\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * fashionBrandList.length);\n  brandname = fashionBrandList[randomIndex];\n}\n\n// Logika pengecekan food\nif (categoryBrand === \"Food\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * foodBrandList.length);\n  brandname = foodBrandList[randomIndex];\n} \n\n// Logika pengecekan Store\nif (categoryBrand === \"Store\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * storeBrandList.length);\n  brandname = storeBrandList[randomIndex];\n}\n\n// Logika pengecekan Healthcare\nif (categoryBrand === \"Healthcare\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * healthcareBrandList.length);\n  brandname = healthcareBrandList[randomIndex];\n} \n\n// Logika pengecekan Entertainment\nif (categoryBrand === \"Entertainment\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * entertainmentBrandList.length);\n  brandname = entertainmentBrandList[randomIndex];\n}\n\n// Logika pengecekan Real estate\nif (categoryBrand === \"Real estate\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * realEstateBrandList.length);\n  brandname = realEstateBrandList[randomIndex];\n} \n\n// Logika pengecekan Technology\nif (categoryBrand === \"Technology\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * technologyBrandList.length);\n  brandname = technologyBrandList[randomIndex];\n}\n\n// Logika pengecekan Marketing & Advertising\nif (categoryBrand === \"Marketing & Advertising\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * marketingBrandList.length);\n  brandname = marketingBrandList[randomIndex];\n} \n\n// Logika pengecekan Accommodation & Travel\nif (categoryBrand === \"Accommodation & Travel\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * travelBrandList.length);\n  brandname = travelBrandList[randomIndex];\n}\n\n// Logika pengecekan Education , School and Collage\nif (categoryBrand === \"Education\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * educationBrandList.length);\n  brandname = educationBrandList[randomIndex];\n}\n\nelse {\n  brandname = \"404\"\n}\n\n// Mengembalikan output\n\nif (brandname === \"404\"){\n  return{\n    namaBrand_01: \"Tidak menggunakan nama brand\"\n  }\n}\n\nif (brandname !== \"404\") {\n  return {\n    namaBrand_01: \"Gunakan ini \" + brandname + \" sebagai nama brand\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -16
      ],
      "id": "7865d3df-8adf-4900-ba9a-79801bf39994",
      "name": "Brand 01"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input\nconst item = $input.first().json;\nconst categoryBrand = item['category_02'];\n\n// Daftar brand Beauty\nconst beautyBrandList = [\n  \"Clean Beauty\",\n  \"Radiant Beauty\",\n  \"Pure Essentials\",\n  \"Fresh Makeup\",\n  \"Luxe Makeup\",\n  \"Glam Cosmetics\",\n  \"Glam Makeup\",\n  \"Dewy Makeup\",\n  \"Velvet Cosmetics\",\n  \"Pop Cosmetics\",\n  \"Radiant Skincare\",\n  \"Simple Skincare\",\n  \"Gentle Skin Essentials\",\n  \"Posh Salon\",\n  \"Posh Parlor\",\n  \"Luxe Salon\",\n  \"Luxe Parlor\",\n  \"Modern Salon & Spa\",\n  \"Urban Salon & Spa\",\n  \"Urban Barbers\",\n  \"Luxe Hair Studio\",\n  \"Pure & Simple Beauty\",\n  \"Glow Studio\",\n  \"Everyday Skincare\",\n  \"Clean Beauty Store\",\n  \"Fresh Face Makeup\",\n  \"Bare Beauty Shop\",\n  \"Pure Makeup\",\n  \"Easy Beauty\",\n  \"Everyday Beauty Store\",\n  \"Skin & Makeup\",\n  \"The Beauty Shop\",\n  \"Beauty Essentials\"\n];\n\n// Daftar brand Financial & Banking\nconst financeBrandList = [\n    \"Wealth\",\n    \"Wealth Bank\",\n    \"Wealth Banking\",\n    \"Elliot&Mater Bank\",\n    \"Elliot&Mater Financials\",\n    \"Elliot&Mater Insurance\",\n    \"Secure Financial Services\",\n    \"Intelligent Bank\",\n    \"Legacy Banking\",\n    \"Legacy Financials\",\n    \"Legacy Insurance\",\n    \"Savvy Bank\",\n    \"Savvy Finance\",\n    \"Savvy Financial Services\",\n    \"Noble Insurance\",\n    \"Noble Bank\",\n    \"Noble Banking\",\n    \"Prosper Bank\",\n    \"Prosper Finance\",\n    \"Prosper Insurance\",\n    \"Fortune Banking\",\n    \"Fortune Insurance\",\n    \"Fortune Financial Services\",\n    \"Worth Bank\",\n    \"Worth Insurance\",\n    \"Worth Financials\"\n];\n\n// Daftar brand Fashion\nconst fashionBrandList = [\n  \"Silhouette\", \n  \"Style\", \n  \"Flair\", \n  \"Refined\", \n  \"Wearable\", \n  \"Detail\", \n  \"Palette\", \n  \"Iconic\", \n  \"Signature Style\", \n  \"Tailor Made\", \n  \"Fresh Threads\", \n  \"Timeless Silhouettes\", \n  \"Classic Threads\", \n  \"Modern Form\", \n  \"True Fit\", \n  \"Fresh Fits\", \n  \"Daily Wear\", \n  \"Styled Well\", \n  \"Wardrobe Wear\", \n  \"Modern Thread\", \n  \"Citywear Collective\", \n  \"Everyday Edit\", \n  \"Plainform\", \n  \"Street & Stitch\", \n  \"Current Apparel\"\n];\n\n// Daftar brand Food\nconst foodBrandList = [\n  \"Harvest\",\n  \"Harvest Grocer\",\n  \"Harvest Kitchen\",\n  \"Harvest Restaurant\",\n  \"Pantry\",\n  \"Crave\",\n  \"Crave Restaurant\",\n  \"Crave Diner\",\n  \"Tasty Snacks\",\n  \"Feast\",\n  \"Rooted\",\n  \"Savor\",\n  \"Gathered\",\n  \"Artsy Cafe\",\n  \"Golden Bite\",\n  \"Pure Spoon\",\n  \"Every Crumb\",\n  \"Daily Harvest\",\n  \"Chopify Burger\",\n  \"Healthy Meals\",\n  \"Healthy Bites\",\n  \"Fresh Bakery\",\n  \"Fresh Pantry\",\n  \"Market Kitchen\",\n  \"Good Food Co\",\n  \"Everyday Provisions\",\n  \"Farm & Table\",\n  \"The Local Kitchen\",\n  \"Corner Café\",\n  \"Table Eight\",\n  \"Open House Dining\",\n  \"Common Room Café\",\n  \"Market Street Eatery\"\n];\n\n// Daftar brand Store\nconst storeBrandList = [\n  \"Metro Markets\",\n  \"Trendy Market\",\n  \"Trendy Merch\",\n  \"Variety Market\",\n  \"Variety Supermarket\",\n  \"Variety Store\",\n  \"Variety Merchandise\",\n  \"Assorted Market\",\n  \"Assorted Supermarket\",\n  \"Assorted Store\",\n  \"Assorted Merchandise\",\n  \"Gateway General Store\",\n  \"Cornerstone Retail\",\n  \"Main Market\",\n  \"Main Supermarket\",\n  \"Main Store\",\n  \"Main Merchandise\",\n  \"Fashion Foundry\",\n  \"Premier General Store\",\n  \"Valley Commerce\",\n  \"Fusion Markets\",\n  \"Central Supply Co.\",\n  \"Quality Marketplace\",\n  \"Wares\",\n  \"Highstreet Goods\",\n  \"Everyday Market\",\n  \"Town & Co\",\n  \"Local Essentials\",\n  \"Corner Retail\",\n  \"Union Stores\"\n];\n\n// Daftar brand Healthcare\nconst healthcareBrandList = [\n    \"Thrive\",\n    \"Vital Healthcare\",\n    \"Vital Wellness Center\",\n    \"Vital Clinic\",\n    \"Vital Hospital\",\n    \"Gentle Healthcare\",\n    \"Gentle Wellness Center\",\n    \"Gentle Clinic\",\n    \"Gentle Hospital\",\n    \"General Healthcare\",\n    \"General Wellness Center\",\n    \"General Clinic\",\n    \"General Hospital\",\n    \"Primary Healthcare\",\n    \"Primary Wellness Center\",\n    \"Primary Clinic\",\n    \"Primary Hospital\",\n    \"Bright Clinic\",\n    \"Holistic Care\",\n    \"Open Care Network\",\n    \"Core Health Systems\",\n    \"Healing Haven Hospital\",\n    \"Wellness Medical Group\",\n    \"Vital Point Health Center\",\n    \"Health Nest Family Practice\"\n];\n\n// Daftar brand Entertainment\nconst entertainmentBrandList = [\n  \"Imprint Edition\",\n  \"Zine Publishing\",\n  \"Story Media\",\n  \"Folio Publishing\",\n  \"Premium Media Group\",\n  \"Concept Media\",\n  \"Abstract Multimedia\",\n  \"Public Press\",\n  \"The Reporter\",\n  \"Open Pages\",\n  \"Dispatch\",\n  \"Daily Bulletin\",\n  \"Weekly Observer\",\n  \"Trend Media\",\n  \"Content Publishing Group\",\n  \"Hype Media\",\n  \"Stellar Studio\",\n  \"Dynamic Network\",\n  \"Citywide Media\",\n  \"Northside Publishing\",\n  \"Modern Press\",\n  \"Open Channel\",\n  \"Common Voice Media\",\n  \"Signal House\"\n];\n\n// Daftar brand Real estate\nconst realEstateBrandList = [\n    \"Realty\",\n    \"Dwell\",\n    \"Dwell Realty\",\n    \"Dwell Properties\",\n    \"Land\",\n    \"Land Properties\",\n    \"Land Property Management\",\n    \"Brick\",\n    \"Brick Realty\",\n    \"Nest\",\n    \"Nest Realty\",\n    \"Roof\",\n    \"Roof Real Estate\",\n    \"Move\",\n    \"Move Real Estate\",\n    \"Urban\",\n    \"Urban Properties\",\n    \"Home\",\n    \"Home Realty\",\n    \"Property\",\n    \"Space\",\n    \"Space Properties\",\n    \"Place\",\n    \"Estate\",\n    \"Estate Property Management\",\n    \"Block\",\n    \"Block Realty\",\n    \"Key\",\n    \"Key Realty\"\n];\n\n// Daftar brand Technology\nconst technologyBrandList = [\n    \"Byte\", \n    \"Circuit\", \n    \"Circuit Systems\", \n    \"Circuit Networks\", \n    \"Gravity\", \n    \"Gravity Soft\", \n    \"Gravity Tech\", \n    \"Cloudlet\", \n    \"Cloudlet Tech\", \n    \"Cloudlet Systems\", \n    \"Elevate\", \n    \"Vertex\", \n    \"Vertex Systems\", \n    \"Innovation\", \n    \"Innovation Systems\", \n    \"Innovation Hub\", \n    \"Streamline\", \n    \"Streamline Soft\", \n    \"Streamline Systems\", \n    \"Mode AI\", \n    \"Meshwork\", \n    \"Forge\"\n];\n\n// Daftar brand Marketing & advertising\nconst marketingBrandList = [\n    \"Impact Inc\",\n    \"Creative Collective\",\n    \"Creative Lab\",\n    \"Creative Studio + Lab\",\n    \"Dynamic Agency\",\n    \"Visionary Studio\",\n    \"Visionary PR\",\n    \"Bold Marketing\",\n    \"Bold Design Studio\",\n    \"Collab Studio\",\n    \"Vivid Design\",\n    \"Vivid Marketing\",\n    \"Insight Lab\",\n    \"Brightside Studio\",\n    \"Fieldwork Creative\",\n    \"Union & Co\",\n    \"Openform Agency\",\n    \"Plainview Marketing\",\n    \"Studio North\"\n];\n\n// Daftar brand Accommodation & Travel\nconst travelBrandList = [\n    \"First Landing\",\n    \"First Landing Travel and Tours\",\n    \"Skyward Journeys\",\n    \"Skyward Journeys Airlines\",\n    \"Open Horizon\",\n    \"Open Horizon Tours\",\n    \"Escape\",\n    \"Escape Resort & Spa\",\n    \"Drift\",\n    \"Drift Bed & Breakfast\",\n    \"Voyage\",\n    \"Voyage Airlines\",\n    \"Harbor\",\n    \"Harbor Tours\",\n    \"Global Air\",\n    \"Worldwide Airlines\",\n    \"Vacation Travel Agency\",\n    \"Vacation Inn\",\n    \"Vacation Lodge\",\n    \"Cozy Stay Inn\",\n    \"Cozy Stay Lodge\",\n    \"Cozy Bed & Breakfast\",\n    \"Dream Travel and Tours\",\n    \"Dream Travel Agency\",\n    \"Ultimate Tours\",\n    \"Ultimate Hotel\",\n    \"Ultimate Resort & Spa\",\n    \"Luxe Resort & Spa\",\n    \"Luxe Hotel\",\n    \"Premium Travel\",\n    \"Premium Hotel\"\n];\n\n// Daftar brand Education\nconst educationBrandList = [\n    \"Little Explorers Academy\",\n    \"Little Explorers Learning Center\",\n    \"Little Explorers Play School\",\n    \"North Academy\",\n    \"North Primary School\",\n    \"North School\",\n    \"North Elementary School\",\n    \"North High School\",\n    \"North Secondary School\",\n    \"North University\",\n    \"North College\",\n    \"South Academy\",\n    \"South Primary School\",\n    \"South School\",\n    \"South Elementary School\",\n    \"South High School\",\n    \"South Secondary School\",\n    \"South University\",\n    \"South College\",\n    \"West Academy\",\n    \"West Primary School\",\n    \"West School\",\n    \"West Elementary School\",\n    \"West High School\",\n    \"West Secondary School\",\n    \"West University\",\n    \"West College\",\n    \"East Academy\",\n    \"East Primary School\",\n    \"East School\",\n    \"East Elementary School\",\n    \"East High School\",\n    \"East Secondary School\",\n    \"East University\",\n    \"East College\",\n    \"Northwest Academy\",\n    \"Northwest Primary School\",\n    \"Northwest School\",\n    \"Northwest Elementary School\",\n    \"Northwest High School\",\n    \"Northwest Secondary School\",\n    \"Northwest University\",\n    \"Northwest College\",\n    \"Southwest Academy\",\n    \"Southwest Primary School\",\n    \"Southwest School\",\n    \"Southwest Elementary School\",\n    \"Southwest High School\",\n    \"Southwest Secondary School\",\n    \"Southwest University\",\n    \"Southwest College\",\n    \"Northeast Academy\",\n    \"Northeast Primary School\",\n    \"Northeast School\",\n    \"Northeast Elementary School\",\n    \"Northeast High School\",\n    \"Northeast Secondary School\",\n    \"Northeast University\",\n    \"Northeast College\",\n    \"Southeast Academy\",\n    \"Southeast Primary School\",\n    \"Southeast School\",\n    \"Southeast Elementary School\",\n    \"Southeast High School\",\n    \"Southeast Secondary School\",\n    \"Southeast University\",\n    \"Southeast College\",\n    \"Western Academy\",\n    \"Western Primary School\",\n    \"Western School\",\n    \"Western Elementary School\",\n    \"Western High School\",\n    \"Western Secondary School\",\n    \"Western University\",\n    \"Western College\",\n    \"Eastern Academy\",\n    \"Eastern Primary School\",\n    \"Eastern School\",\n    \"Eastern Elementary School\",\n    \"Eastern High School\",\n    \"Eastern Secondary School\",\n    \"Eastern University\",\n    \"Eastern College\",\n    \"Northern Academy\",\n    \"Northern Primary School\",\n    \"Northern School\",\n    \"Northern Elementary School\",\n    \"Northern High School\",\n    \"Northern Secondary School\",\n    \"Northern University\",\n    \"Northern College\",\n    \"Southern Academy\",\n    \"Southern Primary School\",\n    \"Southern School\",\n    \"Southern Elementary School\",\n    \"Southern High School\",\n    \"Southern Secondary School\",\n    \"Southern University\",\n    \"Southern College\",\n    \"Oakfield Primary School\",\n    \"Meadowbrook Primary School\",\n    \"Willow Lane Primary School\",\n    \"Rosewood Primary School\",\n    \"Greenway Primary School\",\n    \"Brookside Primary School\",\n    \"Hillcrest Primary School\",\n    \"Sunnyfields Primary School\",\n    \"Maple Grove Primary School\",\n    \"Chestnut Hill Primary School\",\n    \"Foxglove Primary School\",\n    \"Birchwood Primary School\",\n    \"Appleton Primary School\",\n    \"Cloverfields Primary School\",\n    \"Fernbank Primary School\",\n    \"Ivybridge Primary School\",\n    \"Pinemoor Primary School\",\n    \"Hazelbrook Primary School\",\n    \"Bluebell Primary School\",\n    \"Elmstead Primary School\",\n    \"Westbrook Secondary School\",\n    \"Ridgeway High School\",\n    \"Northfield Community School\",\n    \"Eastgate Secondary School\",\n    \"Brookvale High School\",\n    \"Parklands School\",\n    \"Stonebridge School\",\n    \"Greenfields School\",\n    \"Southbrook Secondary School\",\n    \"Moorland High School\",\n    \"Brookfield High School\",\n    \"Westvale Secondary School\",\n    \"Ashdown School\",\n    \"Kingsford High School\",\n    \"Redfield Secondary School\",\n    \"Fairlands School\",\n    \"Northmoor High School\",\n    \"Valley Ridge School\",\n    \"Stonefield High School\",\n    \"Parkview Secondary School\",\n    \"Oakridge Academy\",\n    \"Riverfield Academy\",\n    \"Hillview Academy\",\n    \"Brookstone Academy\",\n    \"Meadowcroft Academy\",\n    \"Northgate Academy\",\n    \"Silverdale Academy\",\n    \"Ashford School\",\n    \"Linden House School\",\n    \"Hawthorne School\",\n    \"Cedar Grove School\",\n    \"Kingswell School\",\n    \"Fairview School\",\n    \"University of Westbridge\",\n    \"University of Northvale\",\n    \"University of Eastborough\",\n    \"University of Southford\",\n    \"University of Greenhill\",\n    \"University of Brookminster\",\n    \"University of Stonebridge\",\n    \"University of Fairchester\",\n    \"University of Westfield\",\n    \"Northgate University\",\n    \"City of Meadowfield University\",\n    \"University of Parkside\",\n    \"University of Hillview\",\n    \"Central Valley University\",\n    \"University of Lakeside\",\n    \"Greenfield University\",\n    \"Oakridge University\",\n    \"Brookstone University\",\n    \"Silvermere University\",\n    \"University of Ashford Vale\",\n    \"Clearview University\",\n    \"Northbridge University\",\n    \"Riverford University\",\n    \"Westbrook College\",\n    \"Northvale College\",\n    \"Riverside College\",\n    \"University of Parklands\",\n    \"Meadowfield Metropolitan University\",\n    \"Greenhill College\",\n    \"Stonebridge College\",\n    \"Brooklands College\",\n    \"Greenfield College\",\n    \"Clearview College\",\n    \"Lakeside College\",\n    \"Woodlands College\",\n    \"Fieldstone College\",\n    \"Springvale College\",\n    \"Glenmore College\",\n    \"Westwood College\"\n];\n\n\nlet brandname;\n\n// Logika pengecekan Beauty Brand\nif (categoryBrand === \"Beauty\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * beautyBrandList.length);\n  brandname = beautyBrandList[randomIndex];\n}\n\n// Logika pengecekan Banking & Finance\nif (categoryBrand === \"Banking & Finance\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * financeBrandList.length);\n  brandname = financeBrandList[randomIndex];\n} \n\n// Logika pengecekan Fashion\nif (categoryBrand === \"Fashion\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * fashionBrandList.length);\n  brandname = fashionBrandList[randomIndex];\n}\n\n// Logika pengecekan food\nif (categoryBrand === \"Food\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * foodBrandList.length);\n  brandname = foodBrandList[randomIndex];\n} \n\n// Logika pengecekan Store\nif (categoryBrand === \"Store\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * storeBrandList.length);\n  brandname = storeBrandList[randomIndex];\n}\n\n// Logika pengecekan Healthcare\nif (categoryBrand === \"Healthcare\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * healthcareBrandList.length);\n  brandname = healthcareBrandList[randomIndex];\n} \n\n// Logika pengecekan Entertainment\nif (categoryBrand === \"Entertainment\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * entertainmentBrandList.length);\n  brandname = entertainmentBrandList[randomIndex];\n}\n\n// Logika pengecekan Real estate\nif (categoryBrand === \"Real estate\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * realEstateBrandList.length);\n  brandname = realEstateBrandList[randomIndex];\n} \n\n// Logika pengecekan Technology\nif (categoryBrand === \"Technology\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * technologyBrandList.length);\n  brandname = technologyBrandList[randomIndex];\n}\n\n// Logika pengecekan Marketing & Advertising\nif (categoryBrand === \"Marketing & Advertising\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * marketingBrandList.length);\n  brandname = marketingBrandList[randomIndex];\n} \n\n// Logika pengecekan Accommodation & Travel\nif (categoryBrand === \"Accommodation & Travel\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * travelBrandList.length);\n  brandname = travelBrandList[randomIndex];\n}\n\n// Logika pengecekan Education , School and Collage\nif (categoryBrand === \"Education\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * educationBrandList.length);\n  brandname = educationBrandList[randomIndex];\n}\n\nelse {\n  brandname = \"404\"\n}\n\n// Mengembalikan output\n\nif (brandname === \"404\"){\n  return{\n    namaBrand_02: \"Tidak menggunakan nama brand\"\n  }\n}\n\nif (brandname !== \"404\") {\n  return {\n    namaBrand_02: \"Gunakan ini \" + brandname + \" sebagai nama brand\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -16
      ],
      "id": "1fe1d91a-5c89-42f0-9783-23455260edc1",
      "name": "Brand 02"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input\nconst item = $input.first().json;\nconst categoryBrand = item['category_03'];\n\n// Daftar brand Beauty\nconst beautyBrandList = [\n  \"Clean Beauty\",\n  \"Radiant Beauty\",\n  \"Pure Essentials\",\n  \"Fresh Makeup\",\n  \"Luxe Makeup\",\n  \"Glam Cosmetics\",\n  \"Glam Makeup\",\n  \"Dewy Makeup\",\n  \"Velvet Cosmetics\",\n  \"Pop Cosmetics\",\n  \"Radiant Skincare\",\n  \"Simple Skincare\",\n  \"Gentle Skin Essentials\",\n  \"Posh Salon\",\n  \"Posh Parlor\",\n  \"Luxe Salon\",\n  \"Luxe Parlor\",\n  \"Modern Salon & Spa\",\n  \"Urban Salon & Spa\",\n  \"Urban Barbers\",\n  \"Luxe Hair Studio\",\n  \"Pure & Simple Beauty\",\n  \"Glow Studio\",\n  \"Everyday Skincare\",\n  \"Clean Beauty Store\",\n  \"Fresh Face Makeup\",\n  \"Bare Beauty Shop\",\n  \"Pure Makeup\",\n  \"Easy Beauty\",\n  \"Everyday Beauty Store\",\n  \"Skin & Makeup\",\n  \"The Beauty Shop\",\n  \"Beauty Essentials\"\n];\n\n// Daftar brand Financial & Banking\nconst financeBrandList = [\n    \"Wealth\",\n    \"Wealth Bank\",\n    \"Wealth Banking\",\n    \"Elliot&Mater Bank\",\n    \"Elliot&Mater Financials\",\n    \"Elliot&Mater Insurance\",\n    \"Secure Financial Services\",\n    \"Intelligent Bank\",\n    \"Legacy Banking\",\n    \"Legacy Financials\",\n    \"Legacy Insurance\",\n    \"Savvy Bank\",\n    \"Savvy Finance\",\n    \"Savvy Financial Services\",\n    \"Noble Insurance\",\n    \"Noble Bank\",\n    \"Noble Banking\",\n    \"Prosper Bank\",\n    \"Prosper Finance\",\n    \"Prosper Insurance\",\n    \"Fortune Banking\",\n    \"Fortune Insurance\",\n    \"Fortune Financial Services\",\n    \"Worth Bank\",\n    \"Worth Insurance\",\n    \"Worth Financials\"\n];\n\n// Daftar brand Fashion\nconst fashionBrandList = [\n  \"Silhouette\", \n  \"Style\", \n  \"Flair\", \n  \"Refined\", \n  \"Wearable\", \n  \"Detail\", \n  \"Palette\", \n  \"Iconic\", \n  \"Signature Style\", \n  \"Tailor Made\", \n  \"Fresh Threads\", \n  \"Timeless Silhouettes\", \n  \"Classic Threads\", \n  \"Modern Form\", \n  \"True Fit\", \n  \"Fresh Fits\", \n  \"Daily Wear\", \n  \"Styled Well\", \n  \"Wardrobe Wear\", \n  \"Modern Thread\", \n  \"Citywear Collective\", \n  \"Everyday Edit\", \n  \"Plainform\", \n  \"Street & Stitch\", \n  \"Current Apparel\"\n];\n\n// Daftar brand Food\nconst foodBrandList = [\n  \"Harvest\",\n  \"Harvest Grocer\",\n  \"Harvest Kitchen\",\n  \"Harvest Restaurant\",\n  \"Pantry\",\n  \"Crave\",\n  \"Crave Restaurant\",\n  \"Crave Diner\",\n  \"Tasty Snacks\",\n  \"Feast\",\n  \"Rooted\",\n  \"Savor\",\n  \"Gathered\",\n  \"Artsy Cafe\",\n  \"Golden Bite\",\n  \"Pure Spoon\",\n  \"Every Crumb\",\n  \"Daily Harvest\",\n  \"Chopify Burger\",\n  \"Healthy Meals\",\n  \"Healthy Bites\",\n  \"Fresh Bakery\",\n  \"Fresh Pantry\",\n  \"Market Kitchen\",\n  \"Good Food Co\",\n  \"Everyday Provisions\",\n  \"Farm & Table\",\n  \"The Local Kitchen\",\n  \"Corner Café\",\n  \"Table Eight\",\n  \"Open House Dining\",\n  \"Common Room Café\",\n  \"Market Street Eatery\"\n];\n\n// Daftar brand Store\nconst storeBrandList = [\n  \"Metro Markets\",\n  \"Trendy Market\",\n  \"Trendy Merch\",\n  \"Variety Market\",\n  \"Variety Supermarket\",\n  \"Variety Store\",\n  \"Variety Merchandise\",\n  \"Assorted Market\",\n  \"Assorted Supermarket\",\n  \"Assorted Store\",\n  \"Assorted Merchandise\",\n  \"Gateway General Store\",\n  \"Cornerstone Retail\",\n  \"Main Market\",\n  \"Main Supermarket\",\n  \"Main Store\",\n  \"Main Merchandise\",\n  \"Fashion Foundry\",\n  \"Premier General Store\",\n  \"Valley Commerce\",\n  \"Fusion Markets\",\n  \"Central Supply Co.\",\n  \"Quality Marketplace\",\n  \"Wares\",\n  \"Highstreet Goods\",\n  \"Everyday Market\",\n  \"Town & Co\",\n  \"Local Essentials\",\n  \"Corner Retail\",\n  \"Union Stores\"\n];\n\n// Daftar brand Healthcare\nconst healthcareBrandList = [\n    \"Thrive\",\n    \"Vital Healthcare\",\n    \"Vital Wellness Center\",\n    \"Vital Clinic\",\n    \"Vital Hospital\",\n    \"Gentle Healthcare\",\n    \"Gentle Wellness Center\",\n    \"Gentle Clinic\",\n    \"Gentle Hospital\",\n    \"General Healthcare\",\n    \"General Wellness Center\",\n    \"General Clinic\",\n    \"General Hospital\",\n    \"Primary Healthcare\",\n    \"Primary Wellness Center\",\n    \"Primary Clinic\",\n    \"Primary Hospital\",\n    \"Bright Clinic\",\n    \"Holistic Care\",\n    \"Open Care Network\",\n    \"Core Health Systems\",\n    \"Healing Haven Hospital\",\n    \"Wellness Medical Group\",\n    \"Vital Point Health Center\",\n    \"Health Nest Family Practice\"\n];\n\n// Daftar brand Entertainment\nconst entertainmentBrandList = [\n  \"Imprint Edition\",\n  \"Zine Publishing\",\n  \"Story Media\",\n  \"Folio Publishing\",\n  \"Premium Media Group\",\n  \"Concept Media\",\n  \"Abstract Multimedia\",\n  \"Public Press\",\n  \"The Reporter\",\n  \"Open Pages\",\n  \"Dispatch\",\n  \"Daily Bulletin\",\n  \"Weekly Observer\",\n  \"Trend Media\",\n  \"Content Publishing Group\",\n  \"Hype Media\",\n  \"Stellar Studio\",\n  \"Dynamic Network\",\n  \"Citywide Media\",\n  \"Northside Publishing\",\n  \"Modern Press\",\n  \"Open Channel\",\n  \"Common Voice Media\",\n  \"Signal House\"\n];\n\n// Daftar brand Real estate\nconst realEstateBrandList = [\n    \"Realty\",\n    \"Dwell\",\n    \"Dwell Realty\",\n    \"Dwell Properties\",\n    \"Land\",\n    \"Land Properties\",\n    \"Land Property Management\",\n    \"Brick\",\n    \"Brick Realty\",\n    \"Nest\",\n    \"Nest Realty\",\n    \"Roof\",\n    \"Roof Real Estate\",\n    \"Move\",\n    \"Move Real Estate\",\n    \"Urban\",\n    \"Urban Properties\",\n    \"Home\",\n    \"Home Realty\",\n    \"Property\",\n    \"Space\",\n    \"Space Properties\",\n    \"Place\",\n    \"Estate\",\n    \"Estate Property Management\",\n    \"Block\",\n    \"Block Realty\",\n    \"Key\",\n    \"Key Realty\"\n];\n\n// Daftar brand Technology\nconst technologyBrandList = [\n    \"Byte\", \n    \"Circuit\", \n    \"Circuit Systems\", \n    \"Circuit Networks\", \n    \"Gravity\", \n    \"Gravity Soft\", \n    \"Gravity Tech\", \n    \"Cloudlet\", \n    \"Cloudlet Tech\", \n    \"Cloudlet Systems\", \n    \"Elevate\", \n    \"Vertex\", \n    \"Vertex Systems\", \n    \"Innovation\", \n    \"Innovation Systems\", \n    \"Innovation Hub\", \n    \"Streamline\", \n    \"Streamline Soft\", \n    \"Streamline Systems\", \n    \"Mode AI\", \n    \"Meshwork\", \n    \"Forge\"\n];\n\n// Daftar brand Marketing & advertising\nconst marketingBrandList = [\n    \"Impact Inc\",\n    \"Creative Collective\",\n    \"Creative Lab\",\n    \"Creative Studio + Lab\",\n    \"Dynamic Agency\",\n    \"Visionary Studio\",\n    \"Visionary PR\",\n    \"Bold Marketing\",\n    \"Bold Design Studio\",\n    \"Collab Studio\",\n    \"Vivid Design\",\n    \"Vivid Marketing\",\n    \"Insight Lab\",\n    \"Brightside Studio\",\n    \"Fieldwork Creative\",\n    \"Union & Co\",\n    \"Openform Agency\",\n    \"Plainview Marketing\",\n    \"Studio North\"\n];\n\n// Daftar brand Accommodation & Travel\nconst travelBrandList = [\n    \"First Landing\",\n    \"First Landing Travel and Tours\",\n    \"Skyward Journeys\",\n    \"Skyward Journeys Airlines\",\n    \"Open Horizon\",\n    \"Open Horizon Tours\",\n    \"Escape\",\n    \"Escape Resort & Spa\",\n    \"Drift\",\n    \"Drift Bed & Breakfast\",\n    \"Voyage\",\n    \"Voyage Airlines\",\n    \"Harbor\",\n    \"Harbor Tours\",\n    \"Global Air\",\n    \"Worldwide Airlines\",\n    \"Vacation Travel Agency\",\n    \"Vacation Inn\",\n    \"Vacation Lodge\",\n    \"Cozy Stay Inn\",\n    \"Cozy Stay Lodge\",\n    \"Cozy Bed & Breakfast\",\n    \"Dream Travel and Tours\",\n    \"Dream Travel Agency\",\n    \"Ultimate Tours\",\n    \"Ultimate Hotel\",\n    \"Ultimate Resort & Spa\",\n    \"Luxe Resort & Spa\",\n    \"Luxe Hotel\",\n    \"Premium Travel\",\n    \"Premium Hotel\"\n];\n\n// Daftar brand Education\nconst educationBrandList = [\n    \"Little Explorers Academy\",\n    \"Little Explorers Learning Center\",\n    \"Little Explorers Play School\",\n    \"North Academy\",\n    \"North Primary School\",\n    \"North School\",\n    \"North Elementary School\",\n    \"North High School\",\n    \"North Secondary School\",\n    \"North University\",\n    \"North College\",\n    \"South Academy\",\n    \"South Primary School\",\n    \"South School\",\n    \"South Elementary School\",\n    \"South High School\",\n    \"South Secondary School\",\n    \"South University\",\n    \"South College\",\n    \"West Academy\",\n    \"West Primary School\",\n    \"West School\",\n    \"West Elementary School\",\n    \"West High School\",\n    \"West Secondary School\",\n    \"West University\",\n    \"West College\",\n    \"East Academy\",\n    \"East Primary School\",\n    \"East School\",\n    \"East Elementary School\",\n    \"East High School\",\n    \"East Secondary School\",\n    \"East University\",\n    \"East College\",\n    \"Northwest Academy\",\n    \"Northwest Primary School\",\n    \"Northwest School\",\n    \"Northwest Elementary School\",\n    \"Northwest High School\",\n    \"Northwest Secondary School\",\n    \"Northwest University\",\n    \"Northwest College\",\n    \"Southwest Academy\",\n    \"Southwest Primary School\",\n    \"Southwest School\",\n    \"Southwest Elementary School\",\n    \"Southwest High School\",\n    \"Southwest Secondary School\",\n    \"Southwest University\",\n    \"Southwest College\",\n    \"Northeast Academy\",\n    \"Northeast Primary School\",\n    \"Northeast School\",\n    \"Northeast Elementary School\",\n    \"Northeast High School\",\n    \"Northeast Secondary School\",\n    \"Northeast University\",\n    \"Northeast College\",\n    \"Southeast Academy\",\n    \"Southeast Primary School\",\n    \"Southeast School\",\n    \"Southeast Elementary School\",\n    \"Southeast High School\",\n    \"Southeast Secondary School\",\n    \"Southeast University\",\n    \"Southeast College\",\n    \"Western Academy\",\n    \"Western Primary School\",\n    \"Western School\",\n    \"Western Elementary School\",\n    \"Western High School\",\n    \"Western Secondary School\",\n    \"Western University\",\n    \"Western College\",\n    \"Eastern Academy\",\n    \"Eastern Primary School\",\n    \"Eastern School\",\n    \"Eastern Elementary School\",\n    \"Eastern High School\",\n    \"Eastern Secondary School\",\n    \"Eastern University\",\n    \"Eastern College\",\n    \"Northern Academy\",\n    \"Northern Primary School\",\n    \"Northern School\",\n    \"Northern Elementary School\",\n    \"Northern High School\",\n    \"Northern Secondary School\",\n    \"Northern University\",\n    \"Northern College\",\n    \"Southern Academy\",\n    \"Southern Primary School\",\n    \"Southern School\",\n    \"Southern Elementary School\",\n    \"Southern High School\",\n    \"Southern Secondary School\",\n    \"Southern University\",\n    \"Southern College\",\n    \"Oakfield Primary School\",\n    \"Meadowbrook Primary School\",\n    \"Willow Lane Primary School\",\n    \"Rosewood Primary School\",\n    \"Greenway Primary School\",\n    \"Brookside Primary School\",\n    \"Hillcrest Primary School\",\n    \"Sunnyfields Primary School\",\n    \"Maple Grove Primary School\",\n    \"Chestnut Hill Primary School\",\n    \"Foxglove Primary School\",\n    \"Birchwood Primary School\",\n    \"Appleton Primary School\",\n    \"Cloverfields Primary School\",\n    \"Fernbank Primary School\",\n    \"Ivybridge Primary School\",\n    \"Pinemoor Primary School\",\n    \"Hazelbrook Primary School\",\n    \"Bluebell Primary School\",\n    \"Elmstead Primary School\",\n    \"Westbrook Secondary School\",\n    \"Ridgeway High School\",\n    \"Northfield Community School\",\n    \"Eastgate Secondary School\",\n    \"Brookvale High School\",\n    \"Parklands School\",\n    \"Stonebridge School\",\n    \"Greenfields School\",\n    \"Southbrook Secondary School\",\n    \"Moorland High School\",\n    \"Brookfield High School\",\n    \"Westvale Secondary School\",\n    \"Ashdown School\",\n    \"Kingsford High School\",\n    \"Redfield Secondary School\",\n    \"Fairlands School\",\n    \"Northmoor High School\",\n    \"Valley Ridge School\",\n    \"Stonefield High School\",\n    \"Parkview Secondary School\",\n    \"Oakridge Academy\",\n    \"Riverfield Academy\",\n    \"Hillview Academy\",\n    \"Brookstone Academy\",\n    \"Meadowcroft Academy\",\n    \"Northgate Academy\",\n    \"Silverdale Academy\",\n    \"Ashford School\",\n    \"Linden House School\",\n    \"Hawthorne School\",\n    \"Cedar Grove School\",\n    \"Kingswell School\",\n    \"Fairview School\",\n    \"University of Westbridge\",\n    \"University of Northvale\",\n    \"University of Eastborough\",\n    \"University of Southford\",\n    \"University of Greenhill\",\n    \"University of Brookminster\",\n    \"University of Stonebridge\",\n    \"University of Fairchester\",\n    \"University of Westfield\",\n    \"Northgate University\",\n    \"City of Meadowfield University\",\n    \"University of Parkside\",\n    \"University of Hillview\",\n    \"Central Valley University\",\n    \"University of Lakeside\",\n    \"Greenfield University\",\n    \"Oakridge University\",\n    \"Brookstone University\",\n    \"Silvermere University\",\n    \"University of Ashford Vale\",\n    \"Clearview University\",\n    \"Northbridge University\",\n    \"Riverford University\",\n    \"Westbrook College\",\n    \"Northvale College\",\n    \"Riverside College\",\n    \"University of Parklands\",\n    \"Meadowfield Metropolitan University\",\n    \"Greenhill College\",\n    \"Stonebridge College\",\n    \"Brooklands College\",\n    \"Greenfield College\",\n    \"Clearview College\",\n    \"Lakeside College\",\n    \"Woodlands College\",\n    \"Fieldstone College\",\n    \"Springvale College\",\n    \"Glenmore College\",\n    \"Westwood College\"\n];\n\n\nlet brandname;\n\n// Logika pengecekan Beauty Brand\nif (categoryBrand === \"Beauty\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * beautyBrandList.length);\n  brandname = beautyBrandList[randomIndex];\n}\n\n// Logika pengecekan Banking & Finance\nif (categoryBrand === \"Banking & Finance\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * financeBrandList.length);\n  brandname = financeBrandList[randomIndex];\n} \n\n// Logika pengecekan Fashion\nif (categoryBrand === \"Fashion\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * fashionBrandList.length);\n  brandname = fashionBrandList[randomIndex];\n}\n\n// Logika pengecekan food\nif (categoryBrand === \"Food\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * foodBrandList.length);\n  brandname = foodBrandList[randomIndex];\n} \n\n// Logika pengecekan Store\nif (categoryBrand === \"Store\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * storeBrandList.length);\n  brandname = storeBrandList[randomIndex];\n}\n\n// Logika pengecekan Healthcare\nif (categoryBrand === \"Healthcare\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * healthcareBrandList.length);\n  brandname = healthcareBrandList[randomIndex];\n} \n\n// Logika pengecekan Entertainment\nif (categoryBrand === \"Entertainment\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * entertainmentBrandList.length);\n  brandname = entertainmentBrandList[randomIndex];\n}\n\n// Logika pengecekan Real estate\nif (categoryBrand === \"Real estate\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * realEstateBrandList.length);\n  brandname = realEstateBrandList[randomIndex];\n} \n\n// Logika pengecekan Technology\nif (categoryBrand === \"Technology\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * technologyBrandList.length);\n  brandname = technologyBrandList[randomIndex];\n}\n\n// Logika pengecekan Marketing & Advertising\nif (categoryBrand === \"Marketing & Advertising\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * marketingBrandList.length);\n  brandname = marketingBrandList[randomIndex];\n} \n\n// Logika pengecekan Accommodation & Travel\nif (categoryBrand === \"Accommodation & Travel\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * travelBrandList.length);\n  brandname = travelBrandList[randomIndex];\n}\n\n// Logika pengecekan Education , School and Collage\nif (categoryBrand === \"Education\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * educationBrandList.length);\n  brandname = educationBrandList[randomIndex];\n}\n\nelse {\n  brandname = \"404\"\n}\n\n// Mengembalikan output\n\nif (brandname === \"404\"){\n  return{\n    namaBrand_03: \"Tidak menggunakan nama brand\"\n  }\n}\n\nif (brandname !== \"404\") {\n  return {\n    namaBrand_03: \"Gunakan ini \" + brandname + \" sebagai nama brand\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -16
      ],
      "id": "54a77b30-e888-4d4c-a9a1-725da4f23c93",
      "name": "Brand 03"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input\nconst item = $input.first().json;\nconst categoryBrand = item['category_04'];\n\n// Daftar brand Beauty\nconst beautyBrandList = [\n  \"Clean Beauty\",\n  \"Radiant Beauty\",\n  \"Pure Essentials\",\n  \"Fresh Makeup\",\n  \"Luxe Makeup\",\n  \"Glam Cosmetics\",\n  \"Glam Makeup\",\n  \"Dewy Makeup\",\n  \"Velvet Cosmetics\",\n  \"Pop Cosmetics\",\n  \"Radiant Skincare\",\n  \"Simple Skincare\",\n  \"Gentle Skin Essentials\",\n  \"Posh Salon\",\n  \"Posh Parlor\",\n  \"Luxe Salon\",\n  \"Luxe Parlor\",\n  \"Modern Salon & Spa\",\n  \"Urban Salon & Spa\",\n  \"Urban Barbers\",\n  \"Luxe Hair Studio\",\n  \"Pure & Simple Beauty\",\n  \"Glow Studio\",\n  \"Everyday Skincare\",\n  \"Clean Beauty Store\",\n  \"Fresh Face Makeup\",\n  \"Bare Beauty Shop\",\n  \"Pure Makeup\",\n  \"Easy Beauty\",\n  \"Everyday Beauty Store\",\n  \"Skin & Makeup\",\n  \"The Beauty Shop\",\n  \"Beauty Essentials\"\n];\n\n// Daftar brand Financial & Banking\nconst financeBrandList = [\n    \"Wealth\",\n    \"Wealth Bank\",\n    \"Wealth Banking\",\n    \"Elliot&Mater Bank\",\n    \"Elliot&Mater Financials\",\n    \"Elliot&Mater Insurance\",\n    \"Secure Financial Services\",\n    \"Intelligent Bank\",\n    \"Legacy Banking\",\n    \"Legacy Financials\",\n    \"Legacy Insurance\",\n    \"Savvy Bank\",\n    \"Savvy Finance\",\n    \"Savvy Financial Services\",\n    \"Noble Insurance\",\n    \"Noble Bank\",\n    \"Noble Banking\",\n    \"Prosper Bank\",\n    \"Prosper Finance\",\n    \"Prosper Insurance\",\n    \"Fortune Banking\",\n    \"Fortune Insurance\",\n    \"Fortune Financial Services\",\n    \"Worth Bank\",\n    \"Worth Insurance\",\n    \"Worth Financials\"\n];\n\n// Daftar brand Fashion\nconst fashionBrandList = [\n  \"Silhouette\", \n  \"Style\", \n  \"Flair\", \n  \"Refined\", \n  \"Wearable\", \n  \"Detail\", \n  \"Palette\", \n  \"Iconic\", \n  \"Signature Style\", \n  \"Tailor Made\", \n  \"Fresh Threads\", \n  \"Timeless Silhouettes\", \n  \"Classic Threads\", \n  \"Modern Form\", \n  \"True Fit\", \n  \"Fresh Fits\", \n  \"Daily Wear\", \n  \"Styled Well\", \n  \"Wardrobe Wear\", \n  \"Modern Thread\", \n  \"Citywear Collective\", \n  \"Everyday Edit\", \n  \"Plainform\", \n  \"Street & Stitch\", \n  \"Current Apparel\"\n];\n\n// Daftar brand Food\nconst foodBrandList = [\n  \"Harvest\",\n  \"Harvest Grocer\",\n  \"Harvest Kitchen\",\n  \"Harvest Restaurant\",\n  \"Pantry\",\n  \"Crave\",\n  \"Crave Restaurant\",\n  \"Crave Diner\",\n  \"Tasty Snacks\",\n  \"Feast\",\n  \"Rooted\",\n  \"Savor\",\n  \"Gathered\",\n  \"Artsy Cafe\",\n  \"Golden Bite\",\n  \"Pure Spoon\",\n  \"Every Crumb\",\n  \"Daily Harvest\",\n  \"Chopify Burger\",\n  \"Healthy Meals\",\n  \"Healthy Bites\",\n  \"Fresh Bakery\",\n  \"Fresh Pantry\",\n  \"Market Kitchen\",\n  \"Good Food Co\",\n  \"Everyday Provisions\",\n  \"Farm & Table\",\n  \"The Local Kitchen\",\n  \"Corner Café\",\n  \"Table Eight\",\n  \"Open House Dining\",\n  \"Common Room Café\",\n  \"Market Street Eatery\"\n];\n\n// Daftar brand Store\nconst storeBrandList = [\n  \"Metro Markets\",\n  \"Trendy Market\",\n  \"Trendy Merch\",\n  \"Variety Market\",\n  \"Variety Supermarket\",\n  \"Variety Store\",\n  \"Variety Merchandise\",\n  \"Assorted Market\",\n  \"Assorted Supermarket\",\n  \"Assorted Store\",\n  \"Assorted Merchandise\",\n  \"Gateway General Store\",\n  \"Cornerstone Retail\",\n  \"Main Market\",\n  \"Main Supermarket\",\n  \"Main Store\",\n  \"Main Merchandise\",\n  \"Fashion Foundry\",\n  \"Premier General Store\",\n  \"Valley Commerce\",\n  \"Fusion Markets\",\n  \"Central Supply Co.\",\n  \"Quality Marketplace\",\n  \"Wares\",\n  \"Highstreet Goods\",\n  \"Everyday Market\",\n  \"Town & Co\",\n  \"Local Essentials\",\n  \"Corner Retail\",\n  \"Union Stores\"\n];\n\n// Daftar brand Healthcare\nconst healthcareBrandList = [\n    \"Thrive\",\n    \"Vital Healthcare\",\n    \"Vital Wellness Center\",\n    \"Vital Clinic\",\n    \"Vital Hospital\",\n    \"Gentle Healthcare\",\n    \"Gentle Wellness Center\",\n    \"Gentle Clinic\",\n    \"Gentle Hospital\",\n    \"General Healthcare\",\n    \"General Wellness Center\",\n    \"General Clinic\",\n    \"General Hospital\",\n    \"Primary Healthcare\",\n    \"Primary Wellness Center\",\n    \"Primary Clinic\",\n    \"Primary Hospital\",\n    \"Bright Clinic\",\n    \"Holistic Care\",\n    \"Open Care Network\",\n    \"Core Health Systems\",\n    \"Healing Haven Hospital\",\n    \"Wellness Medical Group\",\n    \"Vital Point Health Center\",\n    \"Health Nest Family Practice\"\n];\n\n// Daftar brand Entertainment\nconst entertainmentBrandList = [\n  \"Imprint Edition\",\n  \"Zine Publishing\",\n  \"Story Media\",\n  \"Folio Publishing\",\n  \"Premium Media Group\",\n  \"Concept Media\",\n  \"Abstract Multimedia\",\n  \"Public Press\",\n  \"The Reporter\",\n  \"Open Pages\",\n  \"Dispatch\",\n  \"Daily Bulletin\",\n  \"Weekly Observer\",\n  \"Trend Media\",\n  \"Content Publishing Group\",\n  \"Hype Media\",\n  \"Stellar Studio\",\n  \"Dynamic Network\",\n  \"Citywide Media\",\n  \"Northside Publishing\",\n  \"Modern Press\",\n  \"Open Channel\",\n  \"Common Voice Media\",\n  \"Signal House\"\n];\n\n// Daftar brand Real estate\nconst realEstateBrandList = [\n    \"Realty\",\n    \"Dwell\",\n    \"Dwell Realty\",\n    \"Dwell Properties\",\n    \"Land\",\n    \"Land Properties\",\n    \"Land Property Management\",\n    \"Brick\",\n    \"Brick Realty\",\n    \"Nest\",\n    \"Nest Realty\",\n    \"Roof\",\n    \"Roof Real Estate\",\n    \"Move\",\n    \"Move Real Estate\",\n    \"Urban\",\n    \"Urban Properties\",\n    \"Home\",\n    \"Home Realty\",\n    \"Property\",\n    \"Space\",\n    \"Space Properties\",\n    \"Place\",\n    \"Estate\",\n    \"Estate Property Management\",\n    \"Block\",\n    \"Block Realty\",\n    \"Key\",\n    \"Key Realty\"\n];\n\n// Daftar brand Technology\nconst technologyBrandList = [\n    \"Byte\", \n    \"Circuit\", \n    \"Circuit Systems\", \n    \"Circuit Networks\", \n    \"Gravity\", \n    \"Gravity Soft\", \n    \"Gravity Tech\", \n    \"Cloudlet\", \n    \"Cloudlet Tech\", \n    \"Cloudlet Systems\", \n    \"Elevate\", \n    \"Vertex\", \n    \"Vertex Systems\", \n    \"Innovation\", \n    \"Innovation Systems\", \n    \"Innovation Hub\", \n    \"Streamline\", \n    \"Streamline Soft\", \n    \"Streamline Systems\", \n    \"Mode AI\", \n    \"Meshwork\", \n    \"Forge\"\n];\n\n// Daftar brand Marketing & advertising\nconst marketingBrandList = [\n    \"Impact Inc\",\n    \"Creative Collective\",\n    \"Creative Lab\",\n    \"Creative Studio + Lab\",\n    \"Dynamic Agency\",\n    \"Visionary Studio\",\n    \"Visionary PR\",\n    \"Bold Marketing\",\n    \"Bold Design Studio\",\n    \"Collab Studio\",\n    \"Vivid Design\",\n    \"Vivid Marketing\",\n    \"Insight Lab\",\n    \"Brightside Studio\",\n    \"Fieldwork Creative\",\n    \"Union & Co\",\n    \"Openform Agency\",\n    \"Plainview Marketing\",\n    \"Studio North\"\n];\n\n// Daftar brand Accommodation & Travel\nconst travelBrandList = [\n    \"First Landing\",\n    \"First Landing Travel and Tours\",\n    \"Skyward Journeys\",\n    \"Skyward Journeys Airlines\",\n    \"Open Horizon\",\n    \"Open Horizon Tours\",\n    \"Escape\",\n    \"Escape Resort & Spa\",\n    \"Drift\",\n    \"Drift Bed & Breakfast\",\n    \"Voyage\",\n    \"Voyage Airlines\",\n    \"Harbor\",\n    \"Harbor Tours\",\n    \"Global Air\",\n    \"Worldwide Airlines\",\n    \"Vacation Travel Agency\",\n    \"Vacation Inn\",\n    \"Vacation Lodge\",\n    \"Cozy Stay Inn\",\n    \"Cozy Stay Lodge\",\n    \"Cozy Bed & Breakfast\",\n    \"Dream Travel and Tours\",\n    \"Dream Travel Agency\",\n    \"Ultimate Tours\",\n    \"Ultimate Hotel\",\n    \"Ultimate Resort & Spa\",\n    \"Luxe Resort & Spa\",\n    \"Luxe Hotel\",\n    \"Premium Travel\",\n    \"Premium Hotel\"\n];\n\n// Daftar brand Education\nconst educationBrandList = [\n    \"Little Explorers Academy\",\n    \"Little Explorers Learning Center\",\n    \"Little Explorers Play School\",\n    \"North Academy\",\n    \"North Primary School\",\n    \"North School\",\n    \"North Elementary School\",\n    \"North High School\",\n    \"North Secondary School\",\n    \"North University\",\n    \"North College\",\n    \"South Academy\",\n    \"South Primary School\",\n    \"South School\",\n    \"South Elementary School\",\n    \"South High School\",\n    \"South Secondary School\",\n    \"South University\",\n    \"South College\",\n    \"West Academy\",\n    \"West Primary School\",\n    \"West School\",\n    \"West Elementary School\",\n    \"West High School\",\n    \"West Secondary School\",\n    \"West University\",\n    \"West College\",\n    \"East Academy\",\n    \"East Primary School\",\n    \"East School\",\n    \"East Elementary School\",\n    \"East High School\",\n    \"East Secondary School\",\n    \"East University\",\n    \"East College\",\n    \"Northwest Academy\",\n    \"Northwest Primary School\",\n    \"Northwest School\",\n    \"Northwest Elementary School\",\n    \"Northwest High School\",\n    \"Northwest Secondary School\",\n    \"Northwest University\",\n    \"Northwest College\",\n    \"Southwest Academy\",\n    \"Southwest Primary School\",\n    \"Southwest School\",\n    \"Southwest Elementary School\",\n    \"Southwest High School\",\n    \"Southwest Secondary School\",\n    \"Southwest University\",\n    \"Southwest College\",\n    \"Northeast Academy\",\n    \"Northeast Primary School\",\n    \"Northeast School\",\n    \"Northeast Elementary School\",\n    \"Northeast High School\",\n    \"Northeast Secondary School\",\n    \"Northeast University\",\n    \"Northeast College\",\n    \"Southeast Academy\",\n    \"Southeast Primary School\",\n    \"Southeast School\",\n    \"Southeast Elementary School\",\n    \"Southeast High School\",\n    \"Southeast Secondary School\",\n    \"Southeast University\",\n    \"Southeast College\",\n    \"Western Academy\",\n    \"Western Primary School\",\n    \"Western School\",\n    \"Western Elementary School\",\n    \"Western High School\",\n    \"Western Secondary School\",\n    \"Western University\",\n    \"Western College\",\n    \"Eastern Academy\",\n    \"Eastern Primary School\",\n    \"Eastern School\",\n    \"Eastern Elementary School\",\n    \"Eastern High School\",\n    \"Eastern Secondary School\",\n    \"Eastern University\",\n    \"Eastern College\",\n    \"Northern Academy\",\n    \"Northern Primary School\",\n    \"Northern School\",\n    \"Northern Elementary School\",\n    \"Northern High School\",\n    \"Northern Secondary School\",\n    \"Northern University\",\n    \"Northern College\",\n    \"Southern Academy\",\n    \"Southern Primary School\",\n    \"Southern School\",\n    \"Southern Elementary School\",\n    \"Southern High School\",\n    \"Southern Secondary School\",\n    \"Southern University\",\n    \"Southern College\",\n    \"Oakfield Primary School\",\n    \"Meadowbrook Primary School\",\n    \"Willow Lane Primary School\",\n    \"Rosewood Primary School\",\n    \"Greenway Primary School\",\n    \"Brookside Primary School\",\n    \"Hillcrest Primary School\",\n    \"Sunnyfields Primary School\",\n    \"Maple Grove Primary School\",\n    \"Chestnut Hill Primary School\",\n    \"Foxglove Primary School\",\n    \"Birchwood Primary School\",\n    \"Appleton Primary School\",\n    \"Cloverfields Primary School\",\n    \"Fernbank Primary School\",\n    \"Ivybridge Primary School\",\n    \"Pinemoor Primary School\",\n    \"Hazelbrook Primary School\",\n    \"Bluebell Primary School\",\n    \"Elmstead Primary School\",\n    \"Westbrook Secondary School\",\n    \"Ridgeway High School\",\n    \"Northfield Community School\",\n    \"Eastgate Secondary School\",\n    \"Brookvale High School\",\n    \"Parklands School\",\n    \"Stonebridge School\",\n    \"Greenfields School\",\n    \"Southbrook Secondary School\",\n    \"Moorland High School\",\n    \"Brookfield High School\",\n    \"Westvale Secondary School\",\n    \"Ashdown School\",\n    \"Kingsford High School\",\n    \"Redfield Secondary School\",\n    \"Fairlands School\",\n    \"Northmoor High School\",\n    \"Valley Ridge School\",\n    \"Stonefield High School\",\n    \"Parkview Secondary School\",\n    \"Oakridge Academy\",\n    \"Riverfield Academy\",\n    \"Hillview Academy\",\n    \"Brookstone Academy\",\n    \"Meadowcroft Academy\",\n    \"Northgate Academy\",\n    \"Silverdale Academy\",\n    \"Ashford School\",\n    \"Linden House School\",\n    \"Hawthorne School\",\n    \"Cedar Grove School\",\n    \"Kingswell School\",\n    \"Fairview School\",\n    \"University of Westbridge\",\n    \"University of Northvale\",\n    \"University of Eastborough\",\n    \"University of Southford\",\n    \"University of Greenhill\",\n    \"University of Brookminster\",\n    \"University of Stonebridge\",\n    \"University of Fairchester\",\n    \"University of Westfield\",\n    \"Northgate University\",\n    \"City of Meadowfield University\",\n    \"University of Parkside\",\n    \"University of Hillview\",\n    \"Central Valley University\",\n    \"University of Lakeside\",\n    \"Greenfield University\",\n    \"Oakridge University\",\n    \"Brookstone University\",\n    \"Silvermere University\",\n    \"University of Ashford Vale\",\n    \"Clearview University\",\n    \"Northbridge University\",\n    \"Riverford University\",\n    \"Westbrook College\",\n    \"Northvale College\",\n    \"Riverside College\",\n    \"University of Parklands\",\n    \"Meadowfield Metropolitan University\",\n    \"Greenhill College\",\n    \"Stonebridge College\",\n    \"Brooklands College\",\n    \"Greenfield College\",\n    \"Clearview College\",\n    \"Lakeside College\",\n    \"Woodlands College\",\n    \"Fieldstone College\",\n    \"Springvale College\",\n    \"Glenmore College\",\n    \"Westwood College\"\n];\n\n\nlet brandname;\n\n// Logika pengecekan Beauty Brand\nif (categoryBrand === \"Beauty\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * beautyBrandList.length);\n  brandname = beautyBrandList[randomIndex];\n}\n\n// Logika pengecekan Banking & Finance\nif (categoryBrand === \"Banking & Finance\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * financeBrandList.length);\n  brandname = financeBrandList[randomIndex];\n} \n\n// Logika pengecekan Fashion\nif (categoryBrand === \"Fashion\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * fashionBrandList.length);\n  brandname = fashionBrandList[randomIndex];\n}\n\n// Logika pengecekan food\nif (categoryBrand === \"Food\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * foodBrandList.length);\n  brandname = foodBrandList[randomIndex];\n} \n\n// Logika pengecekan Store\nif (categoryBrand === \"Store\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * storeBrandList.length);\n  brandname = storeBrandList[randomIndex];\n}\n\n// Logika pengecekan Healthcare\nif (categoryBrand === \"Healthcare\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * healthcareBrandList.length);\n  brandname = healthcareBrandList[randomIndex];\n} \n\n// Logika pengecekan Entertainment\nif (categoryBrand === \"Entertainment\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * entertainmentBrandList.length);\n  brandname = entertainmentBrandList[randomIndex];\n}\n\n// Logika pengecekan Real estate\nif (categoryBrand === \"Real estate\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * realEstateBrandList.length);\n  brandname = realEstateBrandList[randomIndex];\n} \n\n// Logika pengecekan Technology\nif (categoryBrand === \"Technology\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * technologyBrandList.length);\n  brandname = technologyBrandList[randomIndex];\n}\n\n// Logika pengecekan Marketing & Advertising\nif (categoryBrand === \"Marketing & Advertising\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * marketingBrandList.length);\n  brandname = marketingBrandList[randomIndex];\n} \n\n// Logika pengecekan Accommodation & Travel\nif (categoryBrand === \"Accommodation & Travel\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * travelBrandList.length);\n  brandname = travelBrandList[randomIndex];\n}\n\n// Logika pengecekan Education , School and Collage\nif (categoryBrand === \"Education\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * educationBrandList.length);\n  brandname = educationBrandList[randomIndex];\n}\n\nelse {\n  brandname = \"404\"\n}\n\n// Mengembalikan output\n\nif (brandname === \"404\"){\n  return{\n    namaBrand_04: \"Tidak menggunakan nama brand\"\n  }\n}\n\nif (brandname !== \"404\") {\n  return {\n    namaBrand_04: \"Gunakan ini \" + brandname + \" sebagai nama brand\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -16
      ],
      "id": "9589dc84-b584-4d7a-bda6-9c9ae9c1428c",
      "name": "Brand 04"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input\nconst item = $input.first().json;\nconst categoryBrand = item['category_05'];\n\n// Daftar brand Beauty\nconst beautyBrandList = [\n  \"Clean Beauty\",\n  \"Radiant Beauty\",\n  \"Pure Essentials\",\n  \"Fresh Makeup\",\n  \"Luxe Makeup\",\n  \"Glam Cosmetics\",\n  \"Glam Makeup\",\n  \"Dewy Makeup\",\n  \"Velvet Cosmetics\",\n  \"Pop Cosmetics\",\n  \"Radiant Skincare\",\n  \"Simple Skincare\",\n  \"Gentle Skin Essentials\",\n  \"Posh Salon\",\n  \"Posh Parlor\",\n  \"Luxe Salon\",\n  \"Luxe Parlor\",\n  \"Modern Salon & Spa\",\n  \"Urban Salon & Spa\",\n  \"Urban Barbers\",\n  \"Luxe Hair Studio\",\n  \"Pure & Simple Beauty\",\n  \"Glow Studio\",\n  \"Everyday Skincare\",\n  \"Clean Beauty Store\",\n  \"Fresh Face Makeup\",\n  \"Bare Beauty Shop\",\n  \"Pure Makeup\",\n  \"Easy Beauty\",\n  \"Everyday Beauty Store\",\n  \"Skin & Makeup\",\n  \"The Beauty Shop\",\n  \"Beauty Essentials\"\n];\n\n// Daftar brand Financial & Banking\nconst financeBrandList = [\n    \"Wealth\",\n    \"Wealth Bank\",\n    \"Wealth Banking\",\n    \"Elliot&Mater Bank\",\n    \"Elliot&Mater Financials\",\n    \"Elliot&Mater Insurance\",\n    \"Secure Financial Services\",\n    \"Intelligent Bank\",\n    \"Legacy Banking\",\n    \"Legacy Financials\",\n    \"Legacy Insurance\",\n    \"Savvy Bank\",\n    \"Savvy Finance\",\n    \"Savvy Financial Services\",\n    \"Noble Insurance\",\n    \"Noble Bank\",\n    \"Noble Banking\",\n    \"Prosper Bank\",\n    \"Prosper Finance\",\n    \"Prosper Insurance\",\n    \"Fortune Banking\",\n    \"Fortune Insurance\",\n    \"Fortune Financial Services\",\n    \"Worth Bank\",\n    \"Worth Insurance\",\n    \"Worth Financials\"\n];\n\n// Daftar brand Fashion\nconst fashionBrandList = [\n  \"Silhouette\", \n  \"Style\", \n  \"Flair\", \n  \"Refined\", \n  \"Wearable\", \n  \"Detail\", \n  \"Palette\", \n  \"Iconic\", \n  \"Signature Style\", \n  \"Tailor Made\", \n  \"Fresh Threads\", \n  \"Timeless Silhouettes\", \n  \"Classic Threads\", \n  \"Modern Form\", \n  \"True Fit\", \n  \"Fresh Fits\", \n  \"Daily Wear\", \n  \"Styled Well\", \n  \"Wardrobe Wear\", \n  \"Modern Thread\", \n  \"Citywear Collective\", \n  \"Everyday Edit\", \n  \"Plainform\", \n  \"Street & Stitch\", \n  \"Current Apparel\"\n];\n\n// Daftar brand Food\nconst foodBrandList = [\n  \"Harvest\",\n  \"Harvest Grocer\",\n  \"Harvest Kitchen\",\n  \"Harvest Restaurant\",\n  \"Pantry\",\n  \"Crave\",\n  \"Crave Restaurant\",\n  \"Crave Diner\",\n  \"Tasty Snacks\",\n  \"Feast\",\n  \"Rooted\",\n  \"Savor\",\n  \"Gathered\",\n  \"Artsy Cafe\",\n  \"Golden Bite\",\n  \"Pure Spoon\",\n  \"Every Crumb\",\n  \"Daily Harvest\",\n  \"Chopify Burger\",\n  \"Healthy Meals\",\n  \"Healthy Bites\",\n  \"Fresh Bakery\",\n  \"Fresh Pantry\",\n  \"Market Kitchen\",\n  \"Good Food Co\",\n  \"Everyday Provisions\",\n  \"Farm & Table\",\n  \"The Local Kitchen\",\n  \"Corner Café\",\n  \"Table Eight\",\n  \"Open House Dining\",\n  \"Common Room Café\",\n  \"Market Street Eatery\"\n];\n\n// Daftar brand Store\nconst storeBrandList = [\n  \"Metro Markets\",\n  \"Trendy Market\",\n  \"Trendy Merch\",\n  \"Variety Market\",\n  \"Variety Supermarket\",\n  \"Variety Store\",\n  \"Variety Merchandise\",\n  \"Assorted Market\",\n  \"Assorted Supermarket\",\n  \"Assorted Store\",\n  \"Assorted Merchandise\",\n  \"Gateway General Store\",\n  \"Cornerstone Retail\",\n  \"Main Market\",\n  \"Main Supermarket\",\n  \"Main Store\",\n  \"Main Merchandise\",\n  \"Fashion Foundry\",\n  \"Premier General Store\",\n  \"Valley Commerce\",\n  \"Fusion Markets\",\n  \"Central Supply Co.\",\n  \"Quality Marketplace\",\n  \"Wares\",\n  \"Highstreet Goods\",\n  \"Everyday Market\",\n  \"Town & Co\",\n  \"Local Essentials\",\n  \"Corner Retail\",\n  \"Union Stores\"\n];\n\n// Daftar brand Healthcare\nconst healthcareBrandList = [\n    \"Thrive\",\n    \"Vital Healthcare\",\n    \"Vital Wellness Center\",\n    \"Vital Clinic\",\n    \"Vital Hospital\",\n    \"Gentle Healthcare\",\n    \"Gentle Wellness Center\",\n    \"Gentle Clinic\",\n    \"Gentle Hospital\",\n    \"General Healthcare\",\n    \"General Wellness Center\",\n    \"General Clinic\",\n    \"General Hospital\",\n    \"Primary Healthcare\",\n    \"Primary Wellness Center\",\n    \"Primary Clinic\",\n    \"Primary Hospital\",\n    \"Bright Clinic\",\n    \"Holistic Care\",\n    \"Open Care Network\",\n    \"Core Health Systems\",\n    \"Healing Haven Hospital\",\n    \"Wellness Medical Group\",\n    \"Vital Point Health Center\",\n    \"Health Nest Family Practice\"\n];\n\n// Daftar brand Entertainment\nconst entertainmentBrandList = [\n  \"Imprint Edition\",\n  \"Zine Publishing\",\n  \"Story Media\",\n  \"Folio Publishing\",\n  \"Premium Media Group\",\n  \"Concept Media\",\n  \"Abstract Multimedia\",\n  \"Public Press\",\n  \"The Reporter\",\n  \"Open Pages\",\n  \"Dispatch\",\n  \"Daily Bulletin\",\n  \"Weekly Observer\",\n  \"Trend Media\",\n  \"Content Publishing Group\",\n  \"Hype Media\",\n  \"Stellar Studio\",\n  \"Dynamic Network\",\n  \"Citywide Media\",\n  \"Northside Publishing\",\n  \"Modern Press\",\n  \"Open Channel\",\n  \"Common Voice Media\",\n  \"Signal House\"\n];\n\n// Daftar brand Real estate\nconst realEstateBrandList = [\n    \"Realty\",\n    \"Dwell\",\n    \"Dwell Realty\",\n    \"Dwell Properties\",\n    \"Land\",\n    \"Land Properties\",\n    \"Land Property Management\",\n    \"Brick\",\n    \"Brick Realty\",\n    \"Nest\",\n    \"Nest Realty\",\n    \"Roof\",\n    \"Roof Real Estate\",\n    \"Move\",\n    \"Move Real Estate\",\n    \"Urban\",\n    \"Urban Properties\",\n    \"Home\",\n    \"Home Realty\",\n    \"Property\",\n    \"Space\",\n    \"Space Properties\",\n    \"Place\",\n    \"Estate\",\n    \"Estate Property Management\",\n    \"Block\",\n    \"Block Realty\",\n    \"Key\",\n    \"Key Realty\"\n];\n\n// Daftar brand Technology\nconst technologyBrandList = [\n    \"Byte\", \n    \"Circuit\", \n    \"Circuit Systems\", \n    \"Circuit Networks\", \n    \"Gravity\", \n    \"Gravity Soft\", \n    \"Gravity Tech\", \n    \"Cloudlet\", \n    \"Cloudlet Tech\", \n    \"Cloudlet Systems\", \n    \"Elevate\", \n    \"Vertex\", \n    \"Vertex Systems\", \n    \"Innovation\", \n    \"Innovation Systems\", \n    \"Innovation Hub\", \n    \"Streamline\", \n    \"Streamline Soft\", \n    \"Streamline Systems\", \n    \"Mode AI\", \n    \"Meshwork\", \n    \"Forge\"\n];\n\n// Daftar brand Marketing & advertising\nconst marketingBrandList = [\n    \"Impact Inc\",\n    \"Creative Collective\",\n    \"Creative Lab\",\n    \"Creative Studio + Lab\",\n    \"Dynamic Agency\",\n    \"Visionary Studio\",\n    \"Visionary PR\",\n    \"Bold Marketing\",\n    \"Bold Design Studio\",\n    \"Collab Studio\",\n    \"Vivid Design\",\n    \"Vivid Marketing\",\n    \"Insight Lab\",\n    \"Brightside Studio\",\n    \"Fieldwork Creative\",\n    \"Union & Co\",\n    \"Openform Agency\",\n    \"Plainview Marketing\",\n    \"Studio North\"\n];\n\n// Daftar brand Accommodation & Travel\nconst travelBrandList = [\n    \"First Landing\",\n    \"First Landing Travel and Tours\",\n    \"Skyward Journeys\",\n    \"Skyward Journeys Airlines\",\n    \"Open Horizon\",\n    \"Open Horizon Tours\",\n    \"Escape\",\n    \"Escape Resort & Spa\",\n    \"Drift\",\n    \"Drift Bed & Breakfast\",\n    \"Voyage\",\n    \"Voyage Airlines\",\n    \"Harbor\",\n    \"Harbor Tours\",\n    \"Global Air\",\n    \"Worldwide Airlines\",\n    \"Vacation Travel Agency\",\n    \"Vacation Inn\",\n    \"Vacation Lodge\",\n    \"Cozy Stay Inn\",\n    \"Cozy Stay Lodge\",\n    \"Cozy Bed & Breakfast\",\n    \"Dream Travel and Tours\",\n    \"Dream Travel Agency\",\n    \"Ultimate Tours\",\n    \"Ultimate Hotel\",\n    \"Ultimate Resort & Spa\",\n    \"Luxe Resort & Spa\",\n    \"Luxe Hotel\",\n    \"Premium Travel\",\n    \"Premium Hotel\"\n];\n\n// Daftar brand Education\nconst educationBrandList = [\n    \"Little Explorers Academy\",\n    \"Little Explorers Learning Center\",\n    \"Little Explorers Play School\",\n    \"North Academy\",\n    \"North Primary School\",\n    \"North School\",\n    \"North Elementary School\",\n    \"North High School\",\n    \"North Secondary School\",\n    \"North University\",\n    \"North College\",\n    \"South Academy\",\n    \"South Primary School\",\n    \"South School\",\n    \"South Elementary School\",\n    \"South High School\",\n    \"South Secondary School\",\n    \"South University\",\n    \"South College\",\n    \"West Academy\",\n    \"West Primary School\",\n    \"West School\",\n    \"West Elementary School\",\n    \"West High School\",\n    \"West Secondary School\",\n    \"West University\",\n    \"West College\",\n    \"East Academy\",\n    \"East Primary School\",\n    \"East School\",\n    \"East Elementary School\",\n    \"East High School\",\n    \"East Secondary School\",\n    \"East University\",\n    \"East College\",\n    \"Northwest Academy\",\n    \"Northwest Primary School\",\n    \"Northwest School\",\n    \"Northwest Elementary School\",\n    \"Northwest High School\",\n    \"Northwest Secondary School\",\n    \"Northwest University\",\n    \"Northwest College\",\n    \"Southwest Academy\",\n    \"Southwest Primary School\",\n    \"Southwest School\",\n    \"Southwest Elementary School\",\n    \"Southwest High School\",\n    \"Southwest Secondary School\",\n    \"Southwest University\",\n    \"Southwest College\",\n    \"Northeast Academy\",\n    \"Northeast Primary School\",\n    \"Northeast School\",\n    \"Northeast Elementary School\",\n    \"Northeast High School\",\n    \"Northeast Secondary School\",\n    \"Northeast University\",\n    \"Northeast College\",\n    \"Southeast Academy\",\n    \"Southeast Primary School\",\n    \"Southeast School\",\n    \"Southeast Elementary School\",\n    \"Southeast High School\",\n    \"Southeast Secondary School\",\n    \"Southeast University\",\n    \"Southeast College\",\n    \"Western Academy\",\n    \"Western Primary School\",\n    \"Western School\",\n    \"Western Elementary School\",\n    \"Western High School\",\n    \"Western Secondary School\",\n    \"Western University\",\n    \"Western College\",\n    \"Eastern Academy\",\n    \"Eastern Primary School\",\n    \"Eastern School\",\n    \"Eastern Elementary School\",\n    \"Eastern High School\",\n    \"Eastern Secondary School\",\n    \"Eastern University\",\n    \"Eastern College\",\n    \"Northern Academy\",\n    \"Northern Primary School\",\n    \"Northern School\",\n    \"Northern Elementary School\",\n    \"Northern High School\",\n    \"Northern Secondary School\",\n    \"Northern University\",\n    \"Northern College\",\n    \"Southern Academy\",\n    \"Southern Primary School\",\n    \"Southern School\",\n    \"Southern Elementary School\",\n    \"Southern High School\",\n    \"Southern Secondary School\",\n    \"Southern University\",\n    \"Southern College\",\n    \"Oakfield Primary School\",\n    \"Meadowbrook Primary School\",\n    \"Willow Lane Primary School\",\n    \"Rosewood Primary School\",\n    \"Greenway Primary School\",\n    \"Brookside Primary School\",\n    \"Hillcrest Primary School\",\n    \"Sunnyfields Primary School\",\n    \"Maple Grove Primary School\",\n    \"Chestnut Hill Primary School\",\n    \"Foxglove Primary School\",\n    \"Birchwood Primary School\",\n    \"Appleton Primary School\",\n    \"Cloverfields Primary School\",\n    \"Fernbank Primary School\",\n    \"Ivybridge Primary School\",\n    \"Pinemoor Primary School\",\n    \"Hazelbrook Primary School\",\n    \"Bluebell Primary School\",\n    \"Elmstead Primary School\",\n    \"Westbrook Secondary School\",\n    \"Ridgeway High School\",\n    \"Northfield Community School\",\n    \"Eastgate Secondary School\",\n    \"Brookvale High School\",\n    \"Parklands School\",\n    \"Stonebridge School\",\n    \"Greenfields School\",\n    \"Southbrook Secondary School\",\n    \"Moorland High School\",\n    \"Brookfield High School\",\n    \"Westvale Secondary School\",\n    \"Ashdown School\",\n    \"Kingsford High School\",\n    \"Redfield Secondary School\",\n    \"Fairlands School\",\n    \"Northmoor High School\",\n    \"Valley Ridge School\",\n    \"Stonefield High School\",\n    \"Parkview Secondary School\",\n    \"Oakridge Academy\",\n    \"Riverfield Academy\",\n    \"Hillview Academy\",\n    \"Brookstone Academy\",\n    \"Meadowcroft Academy\",\n    \"Northgate Academy\",\n    \"Silverdale Academy\",\n    \"Ashford School\",\n    \"Linden House School\",\n    \"Hawthorne School\",\n    \"Cedar Grove School\",\n    \"Kingswell School\",\n    \"Fairview School\",\n    \"University of Westbridge\",\n    \"University of Northvale\",\n    \"University of Eastborough\",\n    \"University of Southford\",\n    \"University of Greenhill\",\n    \"University of Brookminster\",\n    \"University of Stonebridge\",\n    \"University of Fairchester\",\n    \"University of Westfield\",\n    \"Northgate University\",\n    \"City of Meadowfield University\",\n    \"University of Parkside\",\n    \"University of Hillview\",\n    \"Central Valley University\",\n    \"University of Lakeside\",\n    \"Greenfield University\",\n    \"Oakridge University\",\n    \"Brookstone University\",\n    \"Silvermere University\",\n    \"University of Ashford Vale\",\n    \"Clearview University\",\n    \"Northbridge University\",\n    \"Riverford University\",\n    \"Westbrook College\",\n    \"Northvale College\",\n    \"Riverside College\",\n    \"University of Parklands\",\n    \"Meadowfield Metropolitan University\",\n    \"Greenhill College\",\n    \"Stonebridge College\",\n    \"Brooklands College\",\n    \"Greenfield College\",\n    \"Clearview College\",\n    \"Lakeside College\",\n    \"Woodlands College\",\n    \"Fieldstone College\",\n    \"Springvale College\",\n    \"Glenmore College\",\n    \"Westwood College\"\n];\n\n\nlet brandname;\n\n// Logika pengecekan Beauty Brand\nif (categoryBrand === \"Beauty\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * beautyBrandList.length);\n  brandname = beautyBrandList[randomIndex];\n}\n\n// Logika pengecekan Banking & Finance\nif (categoryBrand === \"Banking & Finance\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * financeBrandList.length);\n  brandname = financeBrandList[randomIndex];\n} \n\n// Logika pengecekan Fashion\nif (categoryBrand === \"Fashion\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * fashionBrandList.length);\n  brandname = fashionBrandList[randomIndex];\n}\n\n// Logika pengecekan food\nif (categoryBrand === \"Food\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * foodBrandList.length);\n  brandname = foodBrandList[randomIndex];\n} \n\n// Logika pengecekan Store\nif (categoryBrand === \"Store\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * storeBrandList.length);\n  brandname = storeBrandList[randomIndex];\n}\n\n// Logika pengecekan Healthcare\nif (categoryBrand === \"Healthcare\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * healthcareBrandList.length);\n  brandname = healthcareBrandList[randomIndex];\n} \n\n// Logika pengecekan Entertainment\nif (categoryBrand === \"Entertainment\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * entertainmentBrandList.length);\n  brandname = entertainmentBrandList[randomIndex];\n}\n\n// Logika pengecekan Real estate\nif (categoryBrand === \"Real estate\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * realEstateBrandList.length);\n  brandname = realEstateBrandList[randomIndex];\n} \n\n// Logika pengecekan Technology\nif (categoryBrand === \"Technology\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * technologyBrandList.length);\n  brandname = technologyBrandList[randomIndex];\n}\n\n// Logika pengecekan Marketing & Advertising\nif (categoryBrand === \"Marketing & Advertising\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * marketingBrandList.length);\n  brandname = marketingBrandList[randomIndex];\n} \n\n// Logika pengecekan Accommodation & Travel\nif (categoryBrand === \"Accommodation & Travel\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * travelBrandList.length);\n  brandname = travelBrandList[randomIndex];\n}\n\n// Logika pengecekan Education , School and Collage\nif (categoryBrand === \"Education\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * educationBrandList.length);\n  brandname = educationBrandList[randomIndex];\n}\n\nelse {\n  brandname = \"404\"\n}\n\n// Mengembalikan output\n\nif (brandname === \"404\"){\n  return{\n    namaBrand_05: \"Tidak menggunakan nama brand\"\n  }\n}\n\nif (brandname !== \"404\") {\n  return {\n    namaBrand_05: \"Gunakan ini \" + brandname + \" sebagai nama brand\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -16
      ],
      "id": "e8f4d865-b40f-4ba7-9bc4-f78085404d39",
      "name": "Brand 05"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input\nconst item = $input.first().json;\nconst categoryBrand = item['category_06'];\n\n// Daftar brand Beauty\nconst beautyBrandList = [\n  \"Clean Beauty\",\n  \"Radiant Beauty\",\n  \"Pure Essentials\",\n  \"Fresh Makeup\",\n  \"Luxe Makeup\",\n  \"Glam Cosmetics\",\n  \"Glam Makeup\",\n  \"Dewy Makeup\",\n  \"Velvet Cosmetics\",\n  \"Pop Cosmetics\",\n  \"Radiant Skincare\",\n  \"Simple Skincare\",\n  \"Gentle Skin Essentials\",\n  \"Posh Salon\",\n  \"Posh Parlor\",\n  \"Luxe Salon\",\n  \"Luxe Parlor\",\n  \"Modern Salon & Spa\",\n  \"Urban Salon & Spa\",\n  \"Urban Barbers\",\n  \"Luxe Hair Studio\",\n  \"Pure & Simple Beauty\",\n  \"Glow Studio\",\n  \"Everyday Skincare\",\n  \"Clean Beauty Store\",\n  \"Fresh Face Makeup\",\n  \"Bare Beauty Shop\",\n  \"Pure Makeup\",\n  \"Easy Beauty\",\n  \"Everyday Beauty Store\",\n  \"Skin & Makeup\",\n  \"The Beauty Shop\",\n  \"Beauty Essentials\"\n];\n\n// Daftar brand Financial & Banking\nconst financeBrandList = [\n    \"Wealth\",\n    \"Wealth Bank\",\n    \"Wealth Banking\",\n    \"Elliot&Mater Bank\",\n    \"Elliot&Mater Financials\",\n    \"Elliot&Mater Insurance\",\n    \"Secure Financial Services\",\n    \"Intelligent Bank\",\n    \"Legacy Banking\",\n    \"Legacy Financials\",\n    \"Legacy Insurance\",\n    \"Savvy Bank\",\n    \"Savvy Finance\",\n    \"Savvy Financial Services\",\n    \"Noble Insurance\",\n    \"Noble Bank\",\n    \"Noble Banking\",\n    \"Prosper Bank\",\n    \"Prosper Finance\",\n    \"Prosper Insurance\",\n    \"Fortune Banking\",\n    \"Fortune Insurance\",\n    \"Fortune Financial Services\",\n    \"Worth Bank\",\n    \"Worth Insurance\",\n    \"Worth Financials\"\n];\n\n// Daftar brand Fashion\nconst fashionBrandList = [\n  \"Silhouette\", \n  \"Style\", \n  \"Flair\", \n  \"Refined\", \n  \"Wearable\", \n  \"Detail\", \n  \"Palette\", \n  \"Iconic\", \n  \"Signature Style\", \n  \"Tailor Made\", \n  \"Fresh Threads\", \n  \"Timeless Silhouettes\", \n  \"Classic Threads\", \n  \"Modern Form\", \n  \"True Fit\", \n  \"Fresh Fits\", \n  \"Daily Wear\", \n  \"Styled Well\", \n  \"Wardrobe Wear\", \n  \"Modern Thread\", \n  \"Citywear Collective\", \n  \"Everyday Edit\", \n  \"Plainform\", \n  \"Street & Stitch\", \n  \"Current Apparel\"\n];\n\n// Daftar brand Food\nconst foodBrandList = [\n  \"Harvest\",\n  \"Harvest Grocer\",\n  \"Harvest Kitchen\",\n  \"Harvest Restaurant\",\n  \"Pantry\",\n  \"Crave\",\n  \"Crave Restaurant\",\n  \"Crave Diner\",\n  \"Tasty Snacks\",\n  \"Feast\",\n  \"Rooted\",\n  \"Savor\",\n  \"Gathered\",\n  \"Artsy Cafe\",\n  \"Golden Bite\",\n  \"Pure Spoon\",\n  \"Every Crumb\",\n  \"Daily Harvest\",\n  \"Chopify Burger\",\n  \"Healthy Meals\",\n  \"Healthy Bites\",\n  \"Fresh Bakery\",\n  \"Fresh Pantry\",\n  \"Market Kitchen\",\n  \"Good Food Co\",\n  \"Everyday Provisions\",\n  \"Farm & Table\",\n  \"The Local Kitchen\",\n  \"Corner Café\",\n  \"Table Eight\",\n  \"Open House Dining\",\n  \"Common Room Café\",\n  \"Market Street Eatery\"\n];\n\n// Daftar brand Store\nconst storeBrandList = [\n  \"Metro Markets\",\n  \"Trendy Market\",\n  \"Trendy Merch\",\n  \"Variety Market\",\n  \"Variety Supermarket\",\n  \"Variety Store\",\n  \"Variety Merchandise\",\n  \"Assorted Market\",\n  \"Assorted Supermarket\",\n  \"Assorted Store\",\n  \"Assorted Merchandise\",\n  \"Gateway General Store\",\n  \"Cornerstone Retail\",\n  \"Main Market\",\n  \"Main Supermarket\",\n  \"Main Store\",\n  \"Main Merchandise\",\n  \"Fashion Foundry\",\n  \"Premier General Store\",\n  \"Valley Commerce\",\n  \"Fusion Markets\",\n  \"Central Supply Co.\",\n  \"Quality Marketplace\",\n  \"Wares\",\n  \"Highstreet Goods\",\n  \"Everyday Market\",\n  \"Town & Co\",\n  \"Local Essentials\",\n  \"Corner Retail\",\n  \"Union Stores\"\n];\n\n// Daftar brand Healthcare\nconst healthcareBrandList = [\n    \"Thrive\",\n    \"Vital Healthcare\",\n    \"Vital Wellness Center\",\n    \"Vital Clinic\",\n    \"Vital Hospital\",\n    \"Gentle Healthcare\",\n    \"Gentle Wellness Center\",\n    \"Gentle Clinic\",\n    \"Gentle Hospital\",\n    \"General Healthcare\",\n    \"General Wellness Center\",\n    \"General Clinic\",\n    \"General Hospital\",\n    \"Primary Healthcare\",\n    \"Primary Wellness Center\",\n    \"Primary Clinic\",\n    \"Primary Hospital\",\n    \"Bright Clinic\",\n    \"Holistic Care\",\n    \"Open Care Network\",\n    \"Core Health Systems\",\n    \"Healing Haven Hospital\",\n    \"Wellness Medical Group\",\n    \"Vital Point Health Center\",\n    \"Health Nest Family Practice\"\n];\n\n// Daftar brand Entertainment\nconst entertainmentBrandList = [\n  \"Imprint Edition\",\n  \"Zine Publishing\",\n  \"Story Media\",\n  \"Folio Publishing\",\n  \"Premium Media Group\",\n  \"Concept Media\",\n  \"Abstract Multimedia\",\n  \"Public Press\",\n  \"The Reporter\",\n  \"Open Pages\",\n  \"Dispatch\",\n  \"Daily Bulletin\",\n  \"Weekly Observer\",\n  \"Trend Media\",\n  \"Content Publishing Group\",\n  \"Hype Media\",\n  \"Stellar Studio\",\n  \"Dynamic Network\",\n  \"Citywide Media\",\n  \"Northside Publishing\",\n  \"Modern Press\",\n  \"Open Channel\",\n  \"Common Voice Media\",\n  \"Signal House\"\n];\n\n// Daftar brand Real estate\nconst realEstateBrandList = [\n    \"Realty\",\n    \"Dwell\",\n    \"Dwell Realty\",\n    \"Dwell Properties\",\n    \"Land\",\n    \"Land Properties\",\n    \"Land Property Management\",\n    \"Brick\",\n    \"Brick Realty\",\n    \"Nest\",\n    \"Nest Realty\",\n    \"Roof\",\n    \"Roof Real Estate\",\n    \"Move\",\n    \"Move Real Estate\",\n    \"Urban\",\n    \"Urban Properties\",\n    \"Home\",\n    \"Home Realty\",\n    \"Property\",\n    \"Space\",\n    \"Space Properties\",\n    \"Place\",\n    \"Estate\",\n    \"Estate Property Management\",\n    \"Block\",\n    \"Block Realty\",\n    \"Key\",\n    \"Key Realty\"\n];\n\n// Daftar brand Technology\nconst technologyBrandList = [\n    \"Byte\", \n    \"Circuit\", \n    \"Circuit Systems\", \n    \"Circuit Networks\", \n    \"Gravity\", \n    \"Gravity Soft\", \n    \"Gravity Tech\", \n    \"Cloudlet\", \n    \"Cloudlet Tech\", \n    \"Cloudlet Systems\", \n    \"Elevate\", \n    \"Vertex\", \n    \"Vertex Systems\", \n    \"Innovation\", \n    \"Innovation Systems\", \n    \"Innovation Hub\", \n    \"Streamline\", \n    \"Streamline Soft\", \n    \"Streamline Systems\", \n    \"Mode AI\", \n    \"Meshwork\", \n    \"Forge\"\n];\n\n// Daftar brand Marketing & advertising\nconst marketingBrandList = [\n    \"Impact Inc\",\n    \"Creative Collective\",\n    \"Creative Lab\",\n    \"Creative Studio + Lab\",\n    \"Dynamic Agency\",\n    \"Visionary Studio\",\n    \"Visionary PR\",\n    \"Bold Marketing\",\n    \"Bold Design Studio\",\n    \"Collab Studio\",\n    \"Vivid Design\",\n    \"Vivid Marketing\",\n    \"Insight Lab\",\n    \"Brightside Studio\",\n    \"Fieldwork Creative\",\n    \"Union & Co\",\n    \"Openform Agency\",\n    \"Plainview Marketing\",\n    \"Studio North\"\n];\n\n// Daftar brand Accommodation & Travel\nconst travelBrandList = [\n    \"First Landing\",\n    \"First Landing Travel and Tours\",\n    \"Skyward Journeys\",\n    \"Skyward Journeys Airlines\",\n    \"Open Horizon\",\n    \"Open Horizon Tours\",\n    \"Escape\",\n    \"Escape Resort & Spa\",\n    \"Drift\",\n    \"Drift Bed & Breakfast\",\n    \"Voyage\",\n    \"Voyage Airlines\",\n    \"Harbor\",\n    \"Harbor Tours\",\n    \"Global Air\",\n    \"Worldwide Airlines\",\n    \"Vacation Travel Agency\",\n    \"Vacation Inn\",\n    \"Vacation Lodge\",\n    \"Cozy Stay Inn\",\n    \"Cozy Stay Lodge\",\n    \"Cozy Bed & Breakfast\",\n    \"Dream Travel and Tours\",\n    \"Dream Travel Agency\",\n    \"Ultimate Tours\",\n    \"Ultimate Hotel\",\n    \"Ultimate Resort & Spa\",\n    \"Luxe Resort & Spa\",\n    \"Luxe Hotel\",\n    \"Premium Travel\",\n    \"Premium Hotel\"\n];\n\n// Daftar brand Education\nconst educationBrandList = [\n    \"Little Explorers Academy\",\n    \"Little Explorers Learning Center\",\n    \"Little Explorers Play School\",\n    \"North Academy\",\n    \"North Primary School\",\n    \"North School\",\n    \"North Elementary School\",\n    \"North High School\",\n    \"North Secondary School\",\n    \"North University\",\n    \"North College\",\n    \"South Academy\",\n    \"South Primary School\",\n    \"South School\",\n    \"South Elementary School\",\n    \"South High School\",\n    \"South Secondary School\",\n    \"South University\",\n    \"South College\",\n    \"West Academy\",\n    \"West Primary School\",\n    \"West School\",\n    \"West Elementary School\",\n    \"West High School\",\n    \"West Secondary School\",\n    \"West University\",\n    \"West College\",\n    \"East Academy\",\n    \"East Primary School\",\n    \"East School\",\n    \"East Elementary School\",\n    \"East High School\",\n    \"East Secondary School\",\n    \"East University\",\n    \"East College\",\n    \"Northwest Academy\",\n    \"Northwest Primary School\",\n    \"Northwest School\",\n    \"Northwest Elementary School\",\n    \"Northwest High School\",\n    \"Northwest Secondary School\",\n    \"Northwest University\",\n    \"Northwest College\",\n    \"Southwest Academy\",\n    \"Southwest Primary School\",\n    \"Southwest School\",\n    \"Southwest Elementary School\",\n    \"Southwest High School\",\n    \"Southwest Secondary School\",\n    \"Southwest University\",\n    \"Southwest College\",\n    \"Northeast Academy\",\n    \"Northeast Primary School\",\n    \"Northeast School\",\n    \"Northeast Elementary School\",\n    \"Northeast High School\",\n    \"Northeast Secondary School\",\n    \"Northeast University\",\n    \"Northeast College\",\n    \"Southeast Academy\",\n    \"Southeast Primary School\",\n    \"Southeast School\",\n    \"Southeast Elementary School\",\n    \"Southeast High School\",\n    \"Southeast Secondary School\",\n    \"Southeast University\",\n    \"Southeast College\",\n    \"Western Academy\",\n    \"Western Primary School\",\n    \"Western School\",\n    \"Western Elementary School\",\n    \"Western High School\",\n    \"Western Secondary School\",\n    \"Western University\",\n    \"Western College\",\n    \"Eastern Academy\",\n    \"Eastern Primary School\",\n    \"Eastern School\",\n    \"Eastern Elementary School\",\n    \"Eastern High School\",\n    \"Eastern Secondary School\",\n    \"Eastern University\",\n    \"Eastern College\",\n    \"Northern Academy\",\n    \"Northern Primary School\",\n    \"Northern School\",\n    \"Northern Elementary School\",\n    \"Northern High School\",\n    \"Northern Secondary School\",\n    \"Northern University\",\n    \"Northern College\",\n    \"Southern Academy\",\n    \"Southern Primary School\",\n    \"Southern School\",\n    \"Southern Elementary School\",\n    \"Southern High School\",\n    \"Southern Secondary School\",\n    \"Southern University\",\n    \"Southern College\",\n    \"Oakfield Primary School\",\n    \"Meadowbrook Primary School\",\n    \"Willow Lane Primary School\",\n    \"Rosewood Primary School\",\n    \"Greenway Primary School\",\n    \"Brookside Primary School\",\n    \"Hillcrest Primary School\",\n    \"Sunnyfields Primary School\",\n    \"Maple Grove Primary School\",\n    \"Chestnut Hill Primary School\",\n    \"Foxglove Primary School\",\n    \"Birchwood Primary School\",\n    \"Appleton Primary School\",\n    \"Cloverfields Primary School\",\n    \"Fernbank Primary School\",\n    \"Ivybridge Primary School\",\n    \"Pinemoor Primary School\",\n    \"Hazelbrook Primary School\",\n    \"Bluebell Primary School\",\n    \"Elmstead Primary School\",\n    \"Westbrook Secondary School\",\n    \"Ridgeway High School\",\n    \"Northfield Community School\",\n    \"Eastgate Secondary School\",\n    \"Brookvale High School\",\n    \"Parklands School\",\n    \"Stonebridge School\",\n    \"Greenfields School\",\n    \"Southbrook Secondary School\",\n    \"Moorland High School\",\n    \"Brookfield High School\",\n    \"Westvale Secondary School\",\n    \"Ashdown School\",\n    \"Kingsford High School\",\n    \"Redfield Secondary School\",\n    \"Fairlands School\",\n    \"Northmoor High School\",\n    \"Valley Ridge School\",\n    \"Stonefield High School\",\n    \"Parkview Secondary School\",\n    \"Oakridge Academy\",\n    \"Riverfield Academy\",\n    \"Hillview Academy\",\n    \"Brookstone Academy\",\n    \"Meadowcroft Academy\",\n    \"Northgate Academy\",\n    \"Silverdale Academy\",\n    \"Ashford School\",\n    \"Linden House School\",\n    \"Hawthorne School\",\n    \"Cedar Grove School\",\n    \"Kingswell School\",\n    \"Fairview School\",\n    \"University of Westbridge\",\n    \"University of Northvale\",\n    \"University of Eastborough\",\n    \"University of Southford\",\n    \"University of Greenhill\",\n    \"University of Brookminster\",\n    \"University of Stonebridge\",\n    \"University of Fairchester\",\n    \"University of Westfield\",\n    \"Northgate University\",\n    \"City of Meadowfield University\",\n    \"University of Parkside\",\n    \"University of Hillview\",\n    \"Central Valley University\",\n    \"University of Lakeside\",\n    \"Greenfield University\",\n    \"Oakridge University\",\n    \"Brookstone University\",\n    \"Silvermere University\",\n    \"University of Ashford Vale\",\n    \"Clearview University\",\n    \"Northbridge University\",\n    \"Riverford University\",\n    \"Westbrook College\",\n    \"Northvale College\",\n    \"Riverside College\",\n    \"University of Parklands\",\n    \"Meadowfield Metropolitan University\",\n    \"Greenhill College\",\n    \"Stonebridge College\",\n    \"Brooklands College\",\n    \"Greenfield College\",\n    \"Clearview College\",\n    \"Lakeside College\",\n    \"Woodlands College\",\n    \"Fieldstone College\",\n    \"Springvale College\",\n    \"Glenmore College\",\n    \"Westwood College\"\n];\n\n\nlet brandname;\n\n// Logika pengecekan Beauty Brand\nif (categoryBrand === \"Beauty\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * beautyBrandList.length);\n  brandname = beautyBrandList[randomIndex];\n}\n\n// Logika pengecekan Banking & Finance\nif (categoryBrand === \"Banking & Finance\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * financeBrandList.length);\n  brandname = financeBrandList[randomIndex];\n} \n\n// Logika pengecekan Fashion\nif (categoryBrand === \"Fashion\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * fashionBrandList.length);\n  brandname = fashionBrandList[randomIndex];\n}\n\n// Logika pengecekan food\nif (categoryBrand === \"Food\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * foodBrandList.length);\n  brandname = foodBrandList[randomIndex];\n} \n\n// Logika pengecekan Store\nif (categoryBrand === \"Store\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * storeBrandList.length);\n  brandname = storeBrandList[randomIndex];\n}\n\n// Logika pengecekan Healthcare\nif (categoryBrand === \"Healthcare\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * healthcareBrandList.length);\n  brandname = healthcareBrandList[randomIndex];\n} \n\n// Logika pengecekan Entertainment\nif (categoryBrand === \"Entertainment\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * entertainmentBrandList.length);\n  brandname = entertainmentBrandList[randomIndex];\n}\n\n// Logika pengecekan Real estate\nif (categoryBrand === \"Real estate\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * realEstateBrandList.length);\n  brandname = realEstateBrandList[randomIndex];\n} \n\n// Logika pengecekan Technology\nif (categoryBrand === \"Technology\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * technologyBrandList.length);\n  brandname = technologyBrandList[randomIndex];\n}\n\n// Logika pengecekan Marketing & Advertising\nif (categoryBrand === \"Marketing & Advertising\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * marketingBrandList.length);\n  brandname = marketingBrandList[randomIndex];\n} \n\n// Logika pengecekan Accommodation & Travel\nif (categoryBrand === \"Accommodation & Travel\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * travelBrandList.length);\n  brandname = travelBrandList[randomIndex];\n}\n\n// Logika pengecekan Education , School and Collage\nif (categoryBrand === \"Education\") {\n  // Mengambil item acak dari list\n  const randomIndex = Math.floor(Math.random() * educationBrandList.length);\n  brandname = educationBrandList[randomIndex];\n}\n\nelse {\n  brandname = \"404\"\n}\n\n// Mengembalikan output\n\nif (brandname === \"404\"){\n  return{\n    namaBrand_06: \"Tidak menggunakan nama brand\"\n  }\n}\n\nif (brandname !== \"404\") {\n  return {\n    namaBrand_06: \"Gunakan ini \" + brandname + \" sebagai nama brand\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        -16
      ],
      "id": "9d39a9a5-4f38-47f0-afca-48642a03eeaa",
      "name": "Brand 06"
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil data dari path input\nconst rawData = $input.first().json.content.parts[0];\nconst fullText = (typeof rawData === 'object' && rawData !== null) ? (rawData.text || \"\") : (rawData || \"\");\n\n// 2. Regex untuk mencari semua pola [----------]\nconst regex = /\\[-{10,}\\]([\\s\\S]*?)\\[-{10,}\\]/g;\nconst matches = [...fullText.matchAll(regex)];\n\n// 3. Buat objek kosong untuk menampung hasil dengan index\nconst result = {};\n\nmatches.forEach((match, i) => {\n  // Membuat key dinamis: extracted_content_1, extracted_content_2, dst.\n  result[`extracted_content_${i + 1}`] = match[1].trim();\n});\n\n// 4. Tambahkan info total jika dibutuhkan\nresult.total_items = matches.length;\n\nreturn { json: result };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        -16
      ],
      "id": "f79ca4ed-28f9-48f3-8a14-75286ea8ffe6",
      "name": "Convert obj to str"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\" class=\"scroll-smooth\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <!-- Mengimpor font elegan dari Google Fonts -->\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,700;1,700&display=swap\" rel=\"stylesheet\">\n    <!-- Memuat Tailwind CSS melalui CDN untuk styling -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <script>\n        tailwind.config = {\n            theme: {\n                extend: {\n                    fontFamily: {\n                        sans: ['Inter', 'sans-serif'],\n                        serif: ['DM Serif Display', 'serif'],\n                        playfair: ['Playfair Display', 'serif'],\n                    },\n                    colors: {\n                        gray: {\n                            50: '#fafafa',\n                            100: '#f4f4f5',\n                            500: '#71717a',\n                            800: '#27272a',\n                            900: '#18181b',\n                        }\n                    }\n                }\n            }\n        }\n    </script>\n    <title>ErmediaTheme</title>\n</head>\n<body class=\"bg-gray-50 text-gray-900 font-sans antialiased min-h-screen flex flex-col selection:bg-gray-200 overflow-x-hidden\">\n\n    <!-- Container Utama -->\n    <div class=\"flex-grow flex flex-col w-full relative\">\n        \n        <!-- Navbar -->\n        <header class=\"sticky top-0 z-40 bg-gray-50/80 backdrop-blur-md border-b border-gray-100\">\n            <nav class=\"max-w-[1500px] mx-auto px-6 py-5 flex items-center justify-between\">\n                <div>\n                    <a href=\"#\" class=\"text-xl font-bold tracking-tight text-gray-900 hover:opacity-80 transition-opacity\">\n                        ErmediaTheme<span class=\"text-gray-400\">.</span>\n                    </a>\n                </div>\n                <div class=\"hidden md:flex gap-8 items-center\">\n                    <a href=\"https://ermediateam06.github.io/Referensi-Design/\" class=\"text-sm font-medium text-gray-500 hover:text-gray-900 transition-colors\">Tema</a>\n                    <a href=\"#\" class=\"text-sm font-medium text-gray-500 hover:text-gray-900 transition-colors\">Element</a>\n                    <a href=\"#\" class=\"text-sm font-medium text-gray-500 hover:text-gray-900 transition-colors\">Warna</a>\n                    <a href=\"#\" class=\"text-sm font-medium text-gray-500 hover:text-gray-900 transition-colors\">Font</a>\n                </div>\n                <!-- Tombol Menu Mobile -->\n                <button class=\"md:hidden text-gray-500 hover:text-gray-900\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><line x1=\"3\" x2=\"21\" y1=\"6\" y2=\"6\"/><line x1=\"3\" x2=\"21\" y1=\"12\" y2=\"12\"/><line x1=\"3\" x2=\"21\" y1=\"18\" y2=\"18\"/></svg>\n                </button>\n            </nav>\n        </header>\n\n        <!-- Konten Utama -->\n        <main class=\"flex-grow w-full max-w-[1500px] mx-auto px-6\">\n            \n            <!-- Bagian Hero -->\n            <section id=\"hero\" class=\"flex flex-col items-center text-center mt-6\">\n                <img src=\"https://ermediateam06.github.io/Referensi-Design/banner.webp\" class=\"object-cover w-full h-48 md:h-48 rounded-2xl\" alt=\"\">\n            </section>\n\n            <!-- Bagian Daftar Tema -->\n            <section id=\"daftar-tema\" class=\"py-16 md:py-24 border-t border-gray-100\">\n                <div class=\"flex items-center justify-between mb-8\">\n                    <h2 class=\"text-xl font-bold tracking-tight text-gray-900 hover:opacity-80 transition-opacity uppercase\">{{ $('Fragment').item.json.judul_01 }}</h2>\n                    <a href=\"#\" class=\"text-sm font-medium text-gray-500 hover:text-gray-900 flex items-center gap-1 group\">\n                        Lihat semua\n                        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"group-hover:translate-x-1 transition-transform\"><path d=\"M5 12h14\"/><path d=\"m12 5 7 7-7 7\"/></svg>\n                    </a>\n                </div>\n                \n                <!-- Wadah Grid -->\n                <div class=\"grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-8\">\n                    \n                    <!-- Item Tema 1 -->\n                    <div onclick=\"openSidebar(1)\" class=\"cursor-pointer group flex flex-col overflow-hidden bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-xl hover:border-gray-200 transition-all duration-300\">\n                        <div class=\"relative w-full aspect-[4/3] bg-gray-100 overflow-hidden\">\n                            <img src=\"https://ermediateam06.github.io/Referensi-Design/background.png\" alt=\"Tema 1\" class=\"w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out\">\n                        </div>\n                        <div class=\"p-5 flex items-center justify-between\">\n                            <div>\n                                <h3 class=\"font-semibold text-gray-900 text-sm md:text-base\">{{ $('Fragment').item.json.doctype_01 }}</h3>\n                                <p class=\"text-[10px] md:text-[11px] font-semibold text-emerald-600 mt-1 bg-emerald-50 px-2 py-1 rounded-md w-fit\">{{ $('Fragment').item.json.size_01 }}</p>\n                            </div>\n                            <div class=\"w-8 h-8 rounded-full bg-gray-50 flex items-center justify-center text-gray-400 group-hover:bg-gray-900 group-hover:text-white transition-colors duration-300 shrink-0 ml-2\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M7 7h10v10\"/><path d=\"M7 17 17 7\"/></svg>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Item Tema 2 -->\n                    <div onclick=\"openSidebar(2)\" class=\"cursor-pointer group flex flex-col overflow-hidden bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-xl hover:border-gray-200 transition-all duration-300\">\n                        <div class=\"relative w-full aspect-[4/3] bg-gray-100 overflow-hidden\">\n                            <img src=\"https://ermediateam06.github.io/Referensi-Design/background.png\" alt=\"Tema 1\" class=\"w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out\">\n                        </div>\n                        <div class=\"p-5 flex items-center justify-between\">\n                            <div>\n                                <h3 class=\"font-semibold text-gray-900 text-sm md:text-base\">{{ $('Fragment').item.json.doctype_02 }}</h3>\n                                <p class=\"text-[10px] md:text-[11px] font-semibold text-emerald-600 mt-1 bg-emerald-50 px-2 py-1 rounded-md w-fit\">{{ $('Fragment').item.json.size_02 }}</p>\n                            </div>\n                            <div class=\"w-8 h-8 rounded-full bg-gray-50 flex items-center justify-center text-gray-400 group-hover:bg-gray-900 group-hover:text-white transition-colors duration-300 shrink-0 ml-2\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M7 7h10v10\"/><path d=\"M7 17 17 7\"/></svg>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Item Tema 3 -->\n                    <div onclick=\"openSidebar(3)\" class=\"cursor-pointer group flex flex-col overflow-hidden bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-xl hover:border-gray-200 transition-all duration-300\">\n                        <div class=\"relative w-full aspect-[4/3] bg-gray-100 overflow-hidden\">\n                            <img src=\"https://ermediateam06.github.io/Referensi-Design/background.png\" alt=\"Tema 1\" class=\"w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out\">\n                        </div>\n                        <div class=\"p-5 flex items-center justify-between\">\n                            <div>\n                                <h3 class=\"font-semibold text-gray-900 text-sm md:text-base\">{{ $('Fragment').item.json.doctype_03 }}</h3>\n                                <p class=\"text-[10px] md:text-[11px] font-semibold text-emerald-600 mt-1 bg-emerald-50 px-2 py-1 rounded-md w-fit\">{{ $('Fragment').item.json.size_03 }}</p>\n                            </div>\n                            <div class=\"w-8 h-8 rounded-full bg-gray-50 flex items-center justify-center text-gray-400 group-hover:bg-gray-900 group-hover:text-white transition-colors duration-300 shrink-0 ml-2\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M7 7h10v10\"/><path d=\"M7 17 17 7\"/></svg>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Item Tema 4 -->\n                    <div onclick=\"openSidebar(4)\" class=\"cursor-pointer group flex flex-col overflow-hidden bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-xl hover:border-gray-200 transition-all duration-300\">\n                        <div class=\"relative w-full aspect-[4/3] bg-gray-100 overflow-hidden\">\n                            <img src=\"https://ermediateam06.github.io/Referensi-Design/background.png\" alt=\"Tema 1\" class=\"w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out\">\n                        </div>\n                        <div class=\"p-5 flex items-center justify-between\">\n                            <div>\n                                <h3 class=\"font-semibold text-gray-900 text-sm md:text-base\">{{ $('Fragment').item.json.doctype_04 }}</h3>\n                                <p class=\"text-[10px] md:text-[11px] font-semibold text-emerald-600 mt-1 bg-emerald-50 px-2 py-1 rounded-md w-fit\">{{ $('Fragment').item.json.size_04 }}</p>\n                            </div>\n                            <div class=\"w-8 h-8 rounded-full bg-gray-50 flex items-center justify-center text-gray-400 group-hover:bg-gray-900 group-hover:text-white transition-colors duration-300 shrink-0 ml-2\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M7 7h10v10\"/><path d=\"M7 17 17 7\"/></svg>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Item Tema 5 -->\n                    <div onclick=\"openSidebar(5)\" class=\"cursor-pointer group flex flex-col overflow-hidden bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-xl hover:border-gray-200 transition-all duration-300\">\n                        <div class=\"relative w-full aspect-[4/3] bg-gray-100 overflow-hidden\">\n                            <img src=\"https://ermediateam06.github.io/Referensi-Design/background.png\" alt=\"Tema 1\" class=\"w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out\">\n                        </div>\n                        <div class=\"p-5 flex items-center justify-between\">\n                            <div>\n                                <h3 class=\"font-semibold text-gray-900 text-sm md:text-base\">{{ $('Fragment').item.json.doctype_05 }}</h3>\n                                <p class=\"text-[10px] md:text-[11px] font-semibold text-emerald-600 mt-1 bg-emerald-50 px-2 py-1 rounded-md w-fit\">{{ $('Fragment').item.json.size_05 }}</p>\n                            </div>\n                            <div class=\"w-8 h-8 rounded-full bg-gray-50 flex items-center justify-center text-gray-400 group-hover:bg-gray-900 group-hover:text-white transition-colors duration-300 shrink-0 ml-2\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M7 7h10v10\"/><path d=\"M7 17 17 7\"/></svg>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Item Tema 6 -->\n                    <div onclick=\"openSidebar(6)\" class=\"cursor-pointer group flex flex-col overflow-hidden bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-xl hover:border-gray-200 transition-all duration-300\">\n                        <div class=\"relative w-full aspect-[4/3] bg-gray-100 overflow-hidden\">\n                            <img src=\"https://ermediateam06.github.io/Referensi-Design/background.png\" alt=\"Tema 1\" class=\"w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out\">\n                        </div>\n                        <div class=\"p-5 flex items-center justify-between\">\n                            <div>\n                                <h3 class=\"font-semibold text-gray-900 text-sm md:text-base\">{{ $('Fragment').item.json.doctype_06 }}</h3>\n                                <p class=\"text-[10px] md:text-[11px] font-semibold text-emerald-600 mt-1 bg-emerald-50 px-2 py-1 rounded-md w-fit\">{{ $('Fragment').item.json.size_06 }}</p>\n                            </div>\n                            <div class=\"w-8 h-8 rounded-full bg-gray-50 flex items-center justify-center text-gray-400 group-hover:bg-gray-900 group-hover:text-white transition-colors duration-300 shrink-0 ml-2\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M7 7h10v10\"/><path d=\"M7 17 17 7\"/></svg>\n                            </div>\n                        </div>\n                    </div>\n\n                </div>\n            </section>\n        </main>\n\n        <!-- Sidebar Detail -->\n        <div id=\"overlay\" onclick=\"closeSidebar()\" class=\"fixed inset-0 bg-black/20 backdrop-blur-sm z-[60] opacity-0 pointer-events-none transition-opacity duration-300\"></div>\n        <aside id=\"sidebar\" class=\"fixed top-0 right-0 h-full w-full max-w-md bg-white shadow-2xl z-[70] translate-x-full transition-transform duration-500 ease-out flex flex-col\">\n            <div class=\"p-6 flex items-center justify-between border-b border-gray-100\">\n                <h2 class=\"text-lg font-bold tracking-tight uppercase\" id=\"sidebar-title\">Detail Desain</h2>\n                <button onclick=\"closeSidebar()\" class=\"p-2 hover:bg-gray-100 rounded-full transition-colors text-gray-500\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><line x1=\"18\" x2=\"6\" y1=\"6\" y2=\"18\"/><line x1=\"6\" x2=\"18\" y1=\"6\" y2=\"18\"/></svg>\n                </button>\n            </div>\n            <div class=\"flex-grow overflow-y-auto p-6\" id=\"sidebar-content\">\n                <!-- Konten dinamis masuk di sini -->\n            </div>\n   \n        </aside>\n\n        <!-- Footer -->\n        <footer class=\"bg-gray-900 mt-12 py-12\">\n            <div class=\"max-w-[1500px] mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-6\">\n                <div class=\"flex flex-col items-center md:items-start\">\n                    <h2 class=\"text-lg font-bold tracking-tight text-white mb-2\">ErmediaTheme.</h2>\n                    <p class=\"text-sm text-gray-400\">Copyright © 2026 ErmediaTheme. All rights reserved.</p>\n                </div>\n                <div class=\"flex flex-wrap justify-center gap-6\">\n                    <a href=\"#\" class=\"text-sm text-gray-400 hover:text-white transition-colors\">Whatsapp</a>\n                    <a href=\"#\" class=\"text-sm text-gray-400 hover:text-white transition-colors\">Instagram</a>\n                    <a href=\"https://www.bismillahku.com\" class=\"text-sm text-gray-400 hover:text-white transition-colors\">Website</a>\n                </div>\n            </div>\n        </footer>\n\n    </div>\n\n    <script>\n        // Data Dummy untuk masing-masing card\n        const cardData = {\n            1: {\n                title: \"{{ $('Fragment').item.json.doctype_01 }}\",\n                badge: \"{{ $('Fragment').item.json.size_01 }}\",\n                badgeClass: \"text-[#e67073] bg-[#e7191f25]\",\n                description: \"Selalu buka tab issue saat pertama kali membuka template untuk memastikan tidak ada masalah yang terlewatkan.\",\n                catatan: [\"{{ $('Fragment').item.json.note_01 }}\"],\n                copytext: [\"{{ $json.plain_text_1 }}\", \"{{ $json.plain_text_2 }}\"],\n                previewImg: \"https://ermediateam06.github.io/Referensi-Design/background.png\",\n                linkRef: [\"{{ $('Fragment').item.json.referensi_01 }}\"],\n            },\n\n            2: {\n                title: \"{{ $('Fragment').item.json.doctype_02 }}\",\n                badge: \"{{ $('Fragment').item.json.size_02 }}\",\n                badgeClass: \"text-[#e67073] bg-[#e7191f25]\",\n                description: \"Selalu buka tab issue saat pertama kali membuka template untuk memastikan tidak ada masalah yang terlewatkan.\",\n                catatan: [\"{{ $('Fragment').item.json.note_02 }}\"],\n                copytext: [\"{{ $json.plain_text_3 }}\", \"{{ $json.plain_text_4 }}\"],\n                previewImg: \"https://ermediateam06.github.io/Referensi-Design/background.png\",\n                linkRef: [\"{{ $('Fragment').item.json.referensi_02 }}\"],\n            },\n            \n            3: {\n                title: \"{{ $('Fragment').item.json.doctype_03 }}\",\n                badge: \"{{ $('Fragment').item.json.size_03 }}\",\n                badgeClass: \"text-[#e67073] bg-[#e7191f25]\",\n                description: \"Selalu buka tab issue saat pertama kali membuka template untuk memastikan tidak ada masalah yang terlewatkan.\",\n                catatan: [\"{{ $('Fragment').item.json.note_03 }}\"],\n                copytext: [\"{{ $json.plain_text_5 }}\", \"{{ $json.plain_text_6 }}\"],\n                previewImg: \"https://ermediateam06.github.io/Referensi-Design/background.png\",\n                linkRef: [\"{{ $('Fragment').item.json.referensi_03 }}\"],\n            },\n            4: {\n                title: \"{{ $('Fragment').item.json.doctype_04 }}\",\n                badge: \"{{ $('Fragment').item.json.size_04 }}\",\n                badgeClass: \"text-[#e67073] bg-[#e7191f25]\",\n                description: \"Selalu buka tab issue saat pertama kali membuka template untuk memastikan tidak ada masalah yang terlewatkan.\",\n                catatan: [\"{{ $('Fragment').item.json.note_04 }}\"],\n                copytext: [\"{{ $json.plain_text_7 }}\", \"{{ $json.plain_text_8 }}\"],\n                previewImg: \"https://ermediateam06.github.io/Referensi-Design/background.png\",\n                linkRef: [\"{{ $('Fragment').item.json.referensi_04 }}\"],\n            },\n\n            5: {\n                title: \"{{ $('Fragment').item.json.doctype_05 }}\",\n                badge: \"{{ $('Fragment').item.json.size_05 }}\",\n                badgeClass: \"text-[#e67073] bg-[#e7191f25]\",\n                description: \"Selalu buka tab issue saat pertama kali membuka template untuk memastikan tidak ada masalah yang terlewatkan.\",\n                catatan: [\"{{ $('Fragment').item.json.note_05 }}\"],\n                copytext: [\"{{ $json.plain_text_9 }}\", \"{{ $json.plain_text_10 }}\"],\n                previewImg: \"https://ermediateam06.github.io/Referensi-Design/background.png\",\n                linkRef: [\"{{ $('Fragment').item.json.referensi_05 }}\"],\n            },\n\n            6: {\n                title: \"{{ $('Fragment').item.json.doctype_06 }}\",\n                badge: \"{{ $('Fragment').item.json.size_06 }}\",\n                badgeClass: \"text-[#e67073] bg-[#e7191f25]\",\n                description: \"Selalu buka tab issue saat pertama kali membuka template untuk memastikan tidak ada masalah yang terlewatkan.\",\n                catatan: [\"{{ $('Fragment').item.json.note_06 }}\"],\n                copytext: [\"{{ $json.plain_text_11 }}\", \"{{ $json.plain_text_12 }}\"],\n                previewImg: \"https://ermediateam06.github.io/Referensi-Design/background.png\",\n                linkRef: [\"{{ $('Fragment').item.json.referensi_06 }}\"],\n            },\n        };\n\n        const sidebar = document.getElementById('sidebar');\n        const overlay = document.getElementById('overlay');\n        const sidebarContent = document.getElementById('sidebar-content');\n        const sidebarTitle = document.getElementById('sidebar-title');\n        const sidebarLink = document.getElementById('sidebar-link');\n\n        function openSidebar(id) {\n            const data = cardData[id];\n            if (!data) return;\n\n            // Update Konten Sidebar\n            sidebarTitle.innerText = \"Detail Desain\";\n            \n            \n            sidebarContent.innerHTML = `\n                <img src=\"${data.previewImg}\" class=\"w-full rounded-xl mb-6 shadow-md\" alt=\"Preview\">\n                <span class=\"${data.badgeClass} px-3 py-1 rounded-md text-[11px] font-bold mb-4 inline-block uppercase tracking-wider\">${data.badge}</span>\n                <h3 class=\"text-2xl font-bold mb-3 font-serif\">${data.title}</h3>\n                <p class=\"text-gray-500 text-sm leading-relaxed mb-8\">${data.description}</p>\n                \n                <h4 class=\"font-bold text-sm uppercase tracking-widest text-gray-400 mb-4\">Catatan</h4>\n                <ul class=\"space-y-3\">\n                    ${data.catatan.map(f => `\n                        <li class=\"flex items-center gap-3 text-sm font-medium\">\n                            <div class=\"w-5 h-5 rounded-full bg-gray-900 text-white flex items-center justify-center shrink-0\">\n                                <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg>\n                            </div>\n                            ${f}\n                        </li>\n                    `).join('')}\n                </ul>\n\n                <h4 class=\"font-bold text-sm uppercase tracking-widest text-gray-400 mb-4 mt-16\">Copywriter</h4>\n                <ul class=\"space-y-3\">\n                    ${data.copytext.map(f => `\n                        <p class=\"flex items-center gap-3 text-sm font-medium\">\n                            ${f}\n                        </p>\n                    `).join('')}\n                </ul>\n\n                <h4 class=\"font-bold text-sm uppercase tracking-widest text-gray-400 mb-4 mt-16\">Referensi</h4>\n                <ul class=\"space-y-3\">\n                    ${data.linkRef.map(f => `\n                        <a href=\"${f}\" target=\"_blank\" class=\"flex items-center gap-3 text-sm font-medium text-blue-600 bg-blue-50 px-3 py-1 rounded-md\">\n                            ${f}\n                        </a>\n                    `).join('')}\n                </ul>\n            `;\n\n            // Tampilkan Sidebar\n            sidebar.classList.remove('translate-x-full');\n            overlay.classList.remove('opacity-0', 'pointer-events-none');\n            document.body.style.overflow = 'hidden'; // Mencegah scroll background\n        }\n\n        function closeSidebar() {\n            sidebar.classList.add('translate-x-full');\n            overlay.classList.add('opacity-0', 'pointer-events-none');\n            document.body.style.overflow = ''; // Mengembalikan scroll\n        }\n\n        // Tutup dengan tombol Escape\n        document.addEventListener('keydown', (e) => {\n            if (e.key === 'Escape') closeSidebar();\n        });\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3392,
        -16
      ],
      "id": "e65f0c4e-6337-4400-8ae1-528748c7e996",
      "name": "HTML2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Loop untuk memproses extracted_content_1 sampai 12\nfor (let i = 1; i <= 12; i++) {\n  const fieldName = `extracted_content_${i}`;\n  const markdown = item.json[fieldName];\n\n  // Pastikan datanya ada dan bertipe string\n  if (markdown && typeof markdown === 'string') {\n    // 1. Bersihkan simbol Markdown menggunakan Regex\n    let plainText = markdown\n      .replace(/[#*`_~]/g, '')           // Hapus header, bold, code, italic\n      .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1') // Ambil teks dari Link saja\n      .replace(/>\\s+/g, '')              // Hapus blockquote\n      .replace(/[-*]\\s+/g, '')           // Hapus bullet points\n      .trim();\n\n    // 2. Ubah semua newline (\\n) menjadi <br>\n    plainText = plainText.replace(/\\n/g, '<br>');\n\n    // Simpan hasil ke field baru: plain_text_1, plain_text_2, dst.\n    item.json[`plain_text_${i}`] = plainText;\n  }\n}\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        -16
      ],
      "id": "38d909fb-e2f1-4066-bd9d-5523c20c4014",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Buatkan Copywriter Professional untuk {{ $('Fragment').item.json.doctype_01 }} dengan struktur ( {{ $('Fragment').item.json.prompt_01 }} {{ $('Brand 01').item.json.namaBrand_01 }}), {{ $('Fragment').item.json.doctype_02 }} dengan struktur ( {{ $('Fragment').item.json.prompt_02 }} {{ $('Brand 02').item.json.namaBrand_02 }}), {{ $('Fragment').item.json.doctype_03 }} dengan struktur ( {{ $('Fragment').item.json.prompt_03 }} {{ $('Brand 03').item.json.namaBrand_03 }}), {{ $('Fragment').item.json.doctype_04 }} dengan struktur ( {{ $('Fragment').item.json.prompt_04 }} {{ $('Brand 04').item.json.namaBrand_04 }}), {{ $('Fragment').item.json.doctype_05 }} dengan struktur ( {{ $('Fragment').item.json.prompt_05 }} {{ $('Brand 05').item.json.namaBrand_05 }}), {{ $('Fragment').item.json.doctype_06 }} dengan struktur ( {{ $('Fragment').item.json.prompt_06 }} {{ $('Brand 06').item.json.namaBrand_06 }} ), Tambahkan juga Metadata Struktur, Misal [Judul] ..../n\nBuat Maksimal 2 opsi saja\\n Untuk teks yang bisa aku copy tambahkan tanda [----------] di awal dan di akhir setiap opsi,\n\nOutputnya dibuat singkat dan menarik, sesuaikan isi dengan doctype agar mudah digunakan/ diapliksikan pada desain\n\nUntuk informasi seperti kontak gunakan ini: Mobile Number +123-456-7890, Website www.reallygreatsite.com or reallygreatsite.com, Email Address hello@reallygreatsite.com, Social Media Handle @reallygreatsite, Short Physical Address 123 Anywhere St., Any City.\"\n\ngunakan placeholder (Nama Bisnis) atau (Nama Orang) untuk bisnis dan nama orang"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2592,
        -16
      ],
      "id": "93a218ac-963d-4ace-ba0d-02380ab3dd5a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "xElnUbpVHpXMoY07",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Input For ....",
        "formFields": {
          "values": [
            {
              "fieldLabel": "TXT_file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        576,
        -16
      ],
      "id": "fd5df234-c151-4800-8cea-3d07627e4013",
      "name": "On form submission",
      "webhookId": "42416780-d98f-4e3a-85a3-a28cffe1d228"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Shinz-Code",
          "mode": "list",
          "cachedResultName": "Shinz-Code",
          "cachedResultUrl": "https://github.com/Shinz-Code"
        },
        "repository": {
          "__rl": true,
          "value": "CanvaTemplate",
          "mode": "list",
          "cachedResultName": "CanvaTemplate",
          "cachedResultUrl": "https://github.com/Shinz-Code/CanvaTemplate"
        },
        "filePath": "=EfaCreative/Referensi-1.html",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "add "
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3616,
        -16
      ],
      "id": "0de632a0-e820-40f1-8096-3f7323146a9b",
      "name": "Edit a file",
      "webhookId": "e848c146-8c30-4190-a8a9-f5d88ffe4e4a",
      "credentials": {
        "githubApi": {
          "id": "sh4lbbw3xovfGks9",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Fragment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fragment": {
      "main": [
        [
          {
            "node": "Brand 01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand 01": {
      "main": [
        [
          {
            "node": "Brand 02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand 02": {
      "main": [
        [
          {
            "node": "Brand 03",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand 03": {
      "main": [
        [
          {
            "node": "Brand 04",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand 04": {
      "main": [
        [
          {
            "node": "Brand 05",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand 05": {
      "main": [
        [
          {
            "node": "Brand 06",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand 06": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert obj to str": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Convert obj to str",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Extract from File": [
      {
        "data": "JUDUL\r\nReferensi-01\r\n\r\n---------------------------------------{ REFERENSI 01 }----------------------------------------\r\n\r\n01. DOCTYPE\r\nAnti Perundungan - Poster (ID)\r\n\r\n01. SIZE\r\nPoster (Potret-A2) • 42 x 59,4 cm\r\n\r\n01. CATEGORY\r\n-\r\n\r\n01. NOTE\r\n- Ukuran font minimal 26px\r\n\r\n01. REFERENSI\r\n- https://www.canva.com/templates/EAGUQJolO74/\r\n- https://www.canva.com/templates/EAGXSUFKldw/\r\n- https://www.canva.com/templates/EAGPJ2NL2l4/\r\n- https://www.canva.com/templates/EAGydBNLmEQ/\r\n- https://www.canva.com/templates/EAGexKWkc44/\r\n- https://www.canva.com/templates/EAF8AFxdTrA/\r\n\r\n01. PROMPT AI\r\n[Judul], [Deskripsi Singkat], 4 [Subjudul], dan 4 [Deskripsi]\r\n\r\n---------------------------------------{ REFERENSI 02 }----------------------------------------\r\n\r\n02. DOCTYPE\r\nDaily Vlog - Youtube Banner (EN)\r\n\r\n02. SIZE\r\nYouTube Banner • 2560 x 1440 px\r\n\r\n02. CATEGORY\r\nEntertainment\r\n\r\n02. NOTE\r\n- Text Jangan sampai keluar dari area 1546 x 432\r\n\r\n02. REFERENSI\r\n- https://i.pinimg.com/1200x/04/99/64/04996401196ee7a256211b082f36c393.jpg\r\n- https://www.canva.com/templates/EAFdeKFg-uU/\r\n- https://www.canva.com/templates/EAFGycBiiVk/\r\n- https://www.canva.com/templates/EAG03VJSxMk/\r\n- https://www.canva.com/templates/EAEhYjqMHt4/\r\n- https://www.canva.com/templates/EAGz35jk2W8/\r\n\r\n02. PROMPT AI\r\n [Judul], [Deskripsi Singkat], 3 [Contact],\r\n\r\n---------------------------------------{ REFERENSI 03 }----------------------------------------\r\n\r\n03. DOCTYPE\r\nGeneral Manager - Business Card (EN)\r\n\r\n03. SIZE\r\nBusiness Card (Landscape) • 3.5 x 2 in\r\n\r\n03. CATEGORY\r\nMarketing & Advertising\r\n\r\n03. NOTE\r\n- \r\n\r\n03. REFERENSI\r\n- https://www.canva.com/templates/EAG0Rgtx0dc/\r\n- https://www.canva.com/templates/EAG_Gqltrb4/\r\n- https://www.canva.com/templates/EAG_JFDbgZs/\r\n- https://www.canva.com/templates/EAGYfTi4fC4/\r\n- https://www.canva.com/templates/EAF-1jK3Xx8/\r\n- https://www.canva.com/templates/EAGAVuMLaak/\r\n\r\n03. PROMPT AI\r\n Halaman 1([Nama Bisnis], [alamat website]), Halaman 2([Nama Orang], [job], 4 [contact])\r\n\r\n---------------------------------------{ REFERENSI 04 }----------------------------------------\r\n\r\n04. DOCTYPE\r\nBirthday Celebration - Photo Collage (EN)\r\n\r\n04. SIZE\r\nPhoto Collage (Portrait) • 20 x 30 cm\r\n\r\n04. CATEGORY\r\n-\r\n\r\n04. NOTE\r\n-\r\n\r\n04. REFERENSI\r\n- https://www.canva.com/templates/EAGiUVTSH2c/\r\n- https://www.canva.com/templates/EAGnA5zo7zw/\r\n- https://www.canva.com/templates/EAGRsOv97sY/\r\n- https://www.canva.com/templates/EAGOfBOZnx4/\r\n- https://www.canva.com/templates/EAGmDb5misU/\r\n- https://www.canva.com/templates/EAGmDoz0Chg/\r\n\r\n04. PROMPT AI\r\n [Judul], [Short-Quote]\r\n\r\n---------------------------------------{ REFERENSI 05 }----------------------------------------\r\n\r\n05. DOCTYPE\r\nAppreciation - Certificate (EN)\r\n\r\n05. SIZE\r\nCertificate (Landscape) • 29.7 x 21 cm\r\n\r\n05. CATEGORY\r\n-\r\n\r\n05. NOTE\r\n-\r\n\r\n05. REFERENSI\r\n- https://www.canva.com/templates/EAGrzxwESNE/\r\n- https://www.canva.com/templates/EAGPYCUiQJw/\r\n- https://www.canva.com/templates/EAGPE7Jq3h8/\r\n- https://www.canva.com/templates/EAGBLvyEoe0/\r\n- https://www.canva.com/templates/EAGKEL6Kpdw/\r\n- https://www.canva.com/templates/EAFNiCYdbwg/\r\n\r\n05. PROMPT AI\r\n [nama perusahaan], [Judul (Certificate of appreciation)], [subjudul], [nama orang], [deskripsi], 2[nama orang + Position]\r\n\r\n---------------------------------------{ REFERENSI 06 }----------------------------------------\r\n\r\n06. DOCTYPE\r\nFamily Moment - Photo Collage (EN)\r\n\r\n06. SIZE\r\nPhoto Collage (Portrait) • 20 x 30 cm\r\n\r\n06. CATEGORY\r\n-\r\n\r\n06. NOTE\r\n-\r\n\r\n06. REFERENSI\r\n- https://www.canva.com/templates/EAGD6F_dnNs/\r\n- https://www.canva.com/templates/EAFcJdIMd2w/\r\n- https://www.canva.com/templates/EAGUNKwy96E/\r\n- https://www.canva.com/templates/EAGPDxj_kII/\r\n- https://www.canva.com/templates/EAGiQKD2j8Y/\r\n- https://www.canva.com/templates/EAGq8r_jlKY/\r\n\r\n06. PROMPT AI\r\n[Abaikan ini, tidak butuh copywriter isi saja dengan tanda - ]\r\n\r\n"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47627329d85b2872a42c280920a716d4d7ceba6da2790cad77d40a978db63851"
  }
}
